{% url 'landing-page' as landingPage %}
{% url 'department:create' as add_department %}
{% url 'department:list' as list_department %}
{% url 'lecture:add' as add_lecture %}
{% url 'student:register' as add_student %}
{% url 'student:list' as list_student %}
{% url 'lecture:list' as list_lecture %}
{% load static %}
{% if include_toobar %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  bg-admin-nav">
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark  sticky-top shadow-sm  bg-admin-nav">
{% endif %}
      <div class="container">
          <a class="navbar-brand {% if request.path  == landingPage %} active {% endif %}" href="{{ landingPage }}" title="home page"><img src="{% static 'DefaultImg/class_logo.png' %}" alt="class_logo" class="img-fluid" style="height: 1.5em;"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="fa fa-list-ul"></span>Menu
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a href="{{ dashboard_url }}" class="nav-link {% if request.path == dashboard_url%} active {%  endif %}">Dashboard</a></li>

              <li class="dropdown nav-item">
                  <a href="#" class="dropdown-toggle nav-link {% if request.path == add_student or request.path == list_student %} active {% endif %}" data-toggle="dropdown"><span class="caret">Students</span></a>
                  <div class="dropdown-menu dropdown-menu-left  bg-admin-nav">
                      <a href="{{ add_student }}" class="dropdown-item">Add student</a>
                      <a href="{{ list_student }}" class="dropdown-item">All students</a>
                  </div>
              </li>
              <li class="dropdown nav-item {% if request.path == add_department or request.path == list_department %} active {%  endif %}">
                  <a href="#" class="dropdown-toggle nav-link " data-toggle="dropdown"><span class="caret "><i class="fa fa-university mr-2"></i>Department</span></a>
                  <div class="dropdown-menu dropdown-menu-left  bg-admin-nav">
                      <a href="{{ add_department }}" class="dropdown-item">Add New Department</a>
                      <a href="{{ list_department }}" class="dropdown-item">All Departments</a>
                  </div>
              </li>

              <li class="dropdown nav-item">
                  <a href="#" class="dropdown-toggle nav-link {% if request.path == add_lecture or request.path == list_lecture %} active {%  endif %}" data-toggle="dropdown"><span class="caret">Lectures</span></a>
                  <div class="dropdown-menu dropdown-menu-left  bg-admin-nav">
                      <a href="{{ add_lecture }}" class="dropdown-item">Add new Lecture</a>
                      <a href="{{ list_lecture }}" class="dropdown-item">All Lectures</a>
                  </div>
              </li>

                <li class="nav-item"><a href="/admin" class="nav-link ">Administration</a></li>
                  <li class="nav-item"><a href="#" class="nav-link ">Help and Support</a></li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="caret">{{ request.user|title }}</span></a>
                      <div class="dropdown-menu dropdown-menu-left  bg-admin-nav">
                          <a href="{{ request.user.get_absolute_url }}" class="dropdown-item"><span class="fa fa-id-card mr-2"></span>Profile</a>
                          <a href="" class="dropdown-item"><span class="fa fa-sticky-note mr-2"></span>Messages</a>
                          <div class="dropdown-divider"></div>
                          <a href="{% url 'setting:redirect' %}" class="dropdown-item"><span class="fa fa-cog mr-2"></span>General Setting</a>
                          <div class="dropdown-divider"></div>
                          <a href="{% url 'accounts:logout' %}" class="dropdown-item"><span class="fa fa-power-off mr-2"></span>Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  
