<div class="card mb-4 shadow-sm" title="{{ object.department }} - Department">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Course Picture</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ object.name }}</text></svg>
    <div class="card-body">
        <p class="card-text"><b>Name </b>{{ object.name|title }}</p>
    {% if object.short_name %}
         <p class="card-text"><b>Short name </b>{{ object.short_name|upper }}</p>
        {% else %}
        <p class="card-text"><b>Short name </b>: ---</p>
    {% endif %}
        <p class="card-text"><b>For student in </b>{{ object.get_year_label }}</p>
        <p class="card-text"><b>And Semester </b>{{ object.get_semester_label }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" href="{{ object.get_absolute_url }}">View</a>
                {% if request.user.is_staff %}  <a class="btn btn-sm btn-outline-secondary" href="#">Edit</a> {% endif %}
            </div>
            <small class="text-muted"><b>{{ object.category }}</b></small>
        </div>
    </div>
{#    <div class="card-footer" title="Department">#}
{#        <p class="card-text">{{ object.department }}</p>#}
{#    </div>#}
</div>