    <div class="card {% if color_bg and value %} bg-primary {% elif color_bg %} bg-light {% endif %}">
        <div class="card-body">
            {% if new_line %}
                <h5>{%  if fa_icon %} <i class="{{ fa_icon }}"></i> {% endif %} {{ label }}</h5>
                <p id="{{ value_id }}">{{ value }}</p>
                <small>{{ caption }}</small>
            {% else %}
                <h5 id="{{ value_id }}">{%  if fa_icon %} <i class="{{ fa_icon }}"></i> {% endif %}<b> {{ label }}</b> {{ value }}</h5>
            {% endif %}
        </div>
    </div>