
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


<div class="nav-scroller bg-white shadow-sm mb-4">
    <nav class="nav nav-underline">
        <a href="" class="nav-link active">Courses</a>
        <a href="" class="nav-link">Number of Course
          <span class="badge badge-pill bg-light align-text-bottom">{{ number_of_course }}</span>
        </a>
        <a class="nav-link" href="#">Department</a>
        <a class="nav-link" href="#">Year</a>
        <a class="nav-link" href="#">Semester</a>
        <a class="nav-link" href="#">Academic Year</a>
        <a class="nav-link" href="#">Core courses</a>
    </nav>



</div>
