{% load static %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
    <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true">
        <div class="toast-header">
            <strong>{{ header }}</strong>
            <img src="{% static 'DefaultImg/info.svg' %}" alt="" class="img-fluid" style="height: 20px; width: 20px;">
            <small class="ml-auto text-muted">{{ header_sub }}</small>
            <button type="button" class="close ml-2" data-bs-dismiss="toast" aria-label="Close"><i class="fa fa-times-circle-o"></i></button>
        </div>
        <div class="toast-body">
            {{ toastBody  }}
        </div>
    </div>
</div>
