{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="display-4 text-center">Staff Create Form</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mx-auto mb-3">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary float-md-right">Add Staff</button>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}