{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container-fluid" style="height: 80vh; background: url({% static 'DefaultImg/bgs/gh_sch_bg.svg'  %}) no-repeat center; background-size: cover; background-attachment: fixed">
        <div class="row">
            <div class="col-auto mx-auto mt-10vh pt-lg-5 text-monospace text-center">
                {%  if request.user.is_authenticated %}
                    <h1 style="color: #0967e8"><b>{{ request.user.get_full_name }}</b></h1>
                    <h1 class="text-center bg-white50 transparentBlur rounded p-3 shadow">Your Username is <br> <b>{{ request.user.username }}</b></h1>

                {% else %}
                    <h1>More Than Assessment</h1>
                    <hr>
                    <h1 class="text-center bg-white50 transparentBlur rounded p-2 shadow">Continuous  Electronic <br> Assessment System</h1>
                {% endif %}
            </div>
        </div>
   </div>

<div class="container">
        <div class="row mt-3">
            <div class="col">
                <h5>Continuous Electronic Assessment System</h5>
                <p>Continuous Electronic Assessment System assesses student academic in both Midsem and Theory,
                    in the areas of multichoice and theory questions, and giving the lecture total control of
                    the scripts thus the script markings, records, publishing them.</p>
                <p>Electronic Assessment can take place directly at lecture hall (class room),
                    or any place on any device (having a web browser), and even through their devices beyond the campus.</p>
                <p>Modern day Continuous Assessment System has become physically easier as new technologies have enabled
                more diverse, universal and widespread continuous assessment practices that include e-learning portals
                and online MultiChoice quizzes. Moreover, the boundaries of what constitutes academics is becoming
                increasingly porous, especially as digital devices and technologies facilitate much of our academic
                content and learning both remotely and on institutional campus.</p>
            </div>
            {% if request.user.is_authenticated %}
                <div class="col-md-6 col-lg-4 ml-auto">
                    <img src="{% static 'DefaultImg/ball_point_pen.svg' %}" alt="" class="img-fluid">
                </div>
            {% else %}
            <div class="col-md-6 col-lg-4 ml-auto" id="studentLogin">
                <p class="small">Student login</p>
                <div class="card shadow">
                    <img src="{% static 'DefaultImg/student circle.png' %}" alt="" style="height: 5em;" class="mx-auto mt-n5 ">
                    <div class="card-body">
                        <form action="{% url 'accounts:student_login' %}" method="post">
                            {% csrf_token %}
                            {{ student_login_form|crispy }}
                            <button type="submit" class="btn btn-outline-primary btn-block" onclick="spinOnClick(this)">Login</button>
{#                            <a href="{% url 'accounts:confirm_reset_pwd' %}" class="btn btn-link small">forgotten your password?</a>#}
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <img src="{% static 'DefaultImg/bg computer.jpeg' %}" alt="" class="img-fluid rounded">
        </div>
        <div class="col-md-6 shadow-sm rounded">
            <h5>Continuous Assessment Inputs</h5>
            <p>All the data will be inputted into the system electronically. 
                The data includes lectures questions and marking scheme, student answers, and publishing of result will be done through the computer. 
                Moreover, work becomes very easy because student works will mark automatically, and there will no need to keep data on papers.
                The scope of the project is to developed web application, that is the project is developed as a responsive web application, and it will work for every academic institution.
            </p>
        </div>
    </div>
    <div class="row mt-3 my-3">
        <div class="col-md-6 shadow-sm rounded">
            <p><b>Multiple Choice Questions</b></p>
            <p>Multiple Choice Questions are questions type where the student has to choose or select an option or a choice from the available choices.
                In our Continuous eAssessment System every multiple-choice question can have any number of choices, where students are to select one of them in every question.
                When lectures are setting up questions, they are required to indicate a correct option or choice from the rest of the choices for a particular question.
                Multichoice assessment questions are marked automatically by the system based on the correct option or choices indicated by the lecture and the option or choice the student choice.
            </p>
            <br>
            <p><b>Theory Assessment</b></p>
            <p>In this continuous assessment system, theory assessment is designed in the likeness to the physical theory quizzes, and midsem questions, where students are expected to provide in writing solutions to the questions.
                The difference ours is electronically based instead of on paper quiz.
                The student is expected to type in solutions to respectively questions on the page.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'DefaultImg/services_img.png' %}" alt="" class="img-fluid">
        </div>
    </div>


<footer>

</footer>
    </div>
{% endblock %}
