{% extends 'base.html' %}
{% load static %}

{% block afterTitle %}
    <style>
        body {
            background-position: center;
             background-size: cover;
             background-repeat: no-repeat;
             background-origin: border-box;
             height: 100vh;
            background-image: url( {% static 'DefaultImg/bgs/bg.jpg' %} );
            
        }
    </style>
{% endblock afterTitle %}
    

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-auto mx-auto ">
                <div class="rounded p-2 bg-white50 transparentBlur text-center">
                    <span class="fa fa-hands-helping fa-3x"></span>
                    <h1>HELP AND SUPPORT</h1>
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-6 mx-auto">
                <div class="card transparentBlur bg-white50">
                    <div class="card-body">
                      <p>Continuous Electronic Assessment System assesses student academic in both Midsem and Theory,
                    in the areas of multichoice and theory questions, and giving the lecture total control of
                    the scripts thus the script markings, records, publishing them.</p>
                <p>Electronic Assessment can take place directly at lecture hall (class room),
                    or any place on any device (having a web browser), and even through their devices beyond the campus.</p>
                <p>Modern day Continuous Assessment System has become physically easier as new technologies have enabled
                more diverse, universal and widespread continuous assessment practices that include e-learning portals
                and online MultiChoice quizzes. Moreover, the boundaries of what constitutes academics is becoming
                increasingly porous, especially as digital devices and technologies facilitate much of our academic
                content and learning both remotely and on institutional campus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    