{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mt-3 mt-lg-4 ">
                <h4>{{ question_group.course }} {{ question_group.get_title_display }} Assessment</h4>
                <hr>
            </div>
        </div>

        <div class="row text-center my-3">
            <div class="col card-deck">
                {% with preference=question_group.preference %}
                   {% if preference.duration %}
                        <div class="card">
                                <div class="card-body">
                                    <p>Duration:</p>
                                    <h5>{{ preference.duration }}</h5>
                                    <hr>
                                    <p>Due Date and Time</p>
                                    <h5>{{ preference.due_date }}</h5>

                                </div>
                        </div>

                    {% elif question_group.preference.due_date %}
                        <div class="card card-body">
                            <p>Due Date</p>
                            <h5>{{ preference.due_date }}</h5>
                        </div>
                    {% endif %}
                {% endwith %}
                        <div class="card">
                            <div class="card-body">
                                <p>Environment</p>
                                <h5>{{ question_group.preference.get_environment_display|default_if_none:"-Any-" }}</h5>
                                <hr>
                                <p>Shuffle Questions</p>
                                <h4><span>{{ question_group.preference.is_question_shuffle|yesno|upper }} </span> </h4>
                            </div>
                        </div>

                        <div class="card ">
                            <div class="card-body">
                                {% url 'assessment:pre_questions_conducting' question_group_pk=question_group.pk question_group_title=question_group.title as preview_url %}
                                <a href="{{ preview_url }}" class="card-link" title="preview questions">
                                    <p>Number of Questions</p>
                                    <h5>{{ question_group.question_set.count }}</h5>
                                    <hr>
                                    <p>Questions Type</p>
                                    <h5>{{ question_group.get_questions_type_display }}</h5>
                                </a>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <p>Number of Student</p>
                                <h5>{{ student_total }}</h5>
                                <hr>
                                <p>Finished Assessment</p>
                                <h5>{{ student_finished|default:"---" }}</h5>
                            </div>
                        </div>
            </div>
        </div>

    {% if question_group.preference.duration %}
        <div class="row">
            <div class="col-12">
                <div class="card-group">
                    {% include 'snippet/H_label_value_card.html' with label="Start time" value=start_time fa_icon="fa fa-clock mr-2" new_line=1  tc=1 %}

                    <div class="card">
                        <div class="card-body">
                            <p><i class="fa fa-clock mr-2"></i>Time Left</p>
                            <h5 class="text-center" id="timeLeftID">{{ time_left.day }} day/s, {{ time_left.hour }} hours, {{ time_left.minute }} minutes</h5>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <p><i class="fa fa-clock mr-2"></i> End Time</p>
                            <h5 class="text-center">{{ end_time }}</h5>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12 mx-auto">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="btn-group btn-block">
                    <a href="{{ preview_url }}" class="btn btn-outline-secondary" onclick="spinOnClick(this)">View Questions</a>
                    <a href="{% url 'assessment:exam_stop_all' question_group_pk=question_group.pk course_id=question_group.course_id question_group_title=question_group.title %}" class="btn btn-outline-danger"><i class="fa fa-stop mr-2" onclick="spinOnClick(this)"></i>Stop all Work</a>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-12 mx-auto">
                <hr>
            </div>
        </div>

        <div class="row">
        <div class="table-responsive">
            <p>Students started or finish with the assessment</p>
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Index Number</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Start Time</th>
{#                    <th>Script Action</th>#}
                </tr>
                {% for script in student_script %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ script.student.index_number }}</td>
                        <td>{{ script.student.get_name }}</td>
                        <td>
                            {% if script.is_completed %}
                                Work Completed
                            {% elif script.has_paused %}
                                Work Hold
                            {% else %}
                                Working
                            {% endif %}
                        </td>
                        <td>{{ script.timestamp }}</td>
{#                        <td>#}
{#                            {% with student=script.student %}#}
{#                                <a href="" class="btn btn-outline-warning" title="Hold {{ student.get_name  }} ({{ student.index_number }}) script"><i class="fa fa-pause mr-2"></i>Hold</a>#}
{#                                <a href="" class="btn btn-outline-danger" title="Stop {{ student.get_name }} ({{ student.index_number }}) script"><i class="fa fa-stop mr-2"></i>Stop</a>#}
{#                            {% endwith %}#}
{#                        </td>#}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    </div>

{% endblock content %}

{% block afterScripts %}
    {% if time_left %}
        <script src="{%  static 'utils/moment.min.js' %}"></script>
    <script>
        const timeLeft = document.getElementById("timeLeftID");
        let TF_moment =  moment();
        // timeLeft.innerHTML = TF_moment

    </script>

    {% endif %}
{% endblock %}