{% extends 'base.html' %}
{% block content %}

{% if is_due_date_less_duration %}
    {% include 'snippet/alert_warning_beginStart.html' with alert_message=due_date_less_duration_msg %}
{% endif %}
    
    {% if not has_conducted %}
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center mt-3 mt-lg-4 ">
                    <h4>Conduct {{ question_group.get_title_display }} Assessment</h4>
                    <hr>
                </div>
            </div>
            <div class="row my-3" >
                <div class="col-md-8 col-lg-6 mx-auto">
                    <table class="table table-bordered shadow rounded">
                        <tr>
                            <td>Course</td>
                            <td>{{ course }}</td>
                        </tr>
                        <tr>
                            <td>Programme</td>
                            <td>{{ question_group.course.programme }}</td>
                        </tr>
                        <tr>
                            <td>Number Of Students</td>
                            <td>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'student:listLectureStudent' %}">{{ total_student }} </a> <a href="{% url 'student:listLectureStudent' %}" class="btn btn-outline-secondary btn-sm">view students </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Level</td>
                            <td>{{ student_level }}</td>
                        </tr>
                    {% if question_group.preference %}
                        <tr>
                            <td>Due Date</td>
                            <td>{{ question_group.preference.due_date|default:"---" }}</td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>{{ question_group.preference.duration|default:"---"}}</td>
                        </tr>
                          <tr>
                            <td>Environment</td>
                            <td>{{ question_group.preference.get_environment_display|default:"---" }}</td>
                        </tr>
                    {% else %}
                    {% url 'assessment:preference' question_group_title=question_group.title question_group_pk=question_group.pk as preference_create %}
                        <tr>
                            <td>Due Date</td>
                            <td>--- <a href="{{ preference_create }}?next={{ request.path }}">(set due date)</a></td>
                        </tr>
                        <tr>
                            <td>Duration</td>
                            <td>--- <a href="{{ preference_create }}?next={{ request.path }}">(set duration)</a></td>
                        </tr>
                          <tr>
                            <td>Environment</td>
                            <td>--- <a href="{{ preference_create }}?next={{ request.path }}">(set environment)</a></td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td> Question Type</td>
                            <td>{{ question_group.get_questions_type_display }}</td>
                        </tr>
                        <tr>
                            <td>Number of Questions</td>
                            <td><a href="{{ question_group.get_absolute_url }}?next={{ request.path }}" >{{ question_group.question_set.count }} questions</a> <a href="{{ question_group.get_absolute_url }}?next={{ request.path }}" class="btn btn-outline-secondary float-right btn-sm" onclick="spinOnClick(this)" title="Preview assessment questions">preview</a></td>
                        </tr>
                    {% if question_group.preference %}
                    {% url 'assessment:preference_update' environment=question_group.preference.environment pk=question_group.preference_id question_group_pk=question_group.pk question_group_title=question_group.title as preference_change_url %}
                        <tr>
                   
                                <td COLSPAN="2" class="bg-light">
                                    <div class="d-flex justify-content-between">
                                        <a href="{{ preference_change_url }}?next={{ request.path }}" title="change" class="btn btn-link">
                                            {% if question_group.preference.is_question_shuffle %}
                                                The questions are <span class="badge badge-primary">on shuffle</span>
                                            {% else %}
                                                The questions are in ordered form
                                            {% endif %}
                                            </a>
                                        <a href="{{ preference_change_url }}?next={{ request.path }}" title="change" onclick="appendSpinOnClick(this)" class="btn btn-link">change preference</a>
                                    </div>
                                </td>
                              
                        </tr>
                    {% endif %}
                        <tr>
                            <td>Total Marks</td>
                            {% if calculated_total_marks > question_group.total_marks %}
                                <td>
                                    <ul class="list-group  list-group-horizontal">
                                        <li class="list-group-item">{{ question_group.total_marks }}</li>
                                        <li class="list-group-item list-group-item-danger" title="Individual questions mark sum">{{ calculated_total_marks }}</li>
                                    </ul>
                                    <small><a href="{% url 'assessment:update_group' courseName=question_group.course.name coursePK=question_group.course.pk title=question_group.title pk=question_group.pk %}">Change total marks</a></small>
                                </td>
                            {% else %}
                                <td>{{ question_group.total_marks  }}</td>
                            {% endif %}
                        </tr>
                    </table>
                    <a href="{% url 'assessment:conducting' course_pk=question_group.course_id course_name=question_group.course.name question_group_pk=question_group.pk %}" class="btn btn-primary btn-block" onclick="appendSpinOnClick(this)">Conduct {{ question_group.get_title_display }}</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-md-auto mx-auto mt-10vh">
                    <p>Sorry, {{ request.user.get_short_name }},
                        {{ question_group.course }} {{ question_group.get_title_display }} has been conducted already on {{ question_group.preference.due_date }}</p>
                    <hr>
                    <p class="text-center"><a href="" class="btn btn-outline-secondary" onclick="spinOnClick(this)">View {{ question_group.get_title_display }} records</a></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}