{% extends 'base.html' %}
{% load crispy_forms_tags %}
 {% block content %}
     <div class="container">
        <div class="row mt-4">
            <div class="col-12">
                <h5 class="text-center">{{ question_group.course }} {{ question_group.get_title_display }}</h5>
                <hr>
            </div>
        </div>

        <form action="" method="post">
            <div class="row">
                <div class="col-12">
                    {% if questionFormSet.non_form_errors %}
                        {% for non_form_error in questionFormSet.non_form_errors %}
                            <p class="alert alert-danger" >{{ non_form_error }}</p>
                        {% endfor %}
                    {% endif %}
                    <p>Fill in Questions in the forms below</p>
                    <hr>
                </div>

                <div class="col-12 my-3" id="id_questions_cards">
                    {% csrf_token %}
                    {{ questionFormSet.management_form }}
                    {% for questionForm in questionFormSet %}
                        <div class="card card-body shadow-sm my-3">
                            <h5>Q{{ forloop.counter }}</h5>
                            {{  questionForm|crispy }}
                        </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-light btn-block" onclick="addAnotherQuestion()">Add Another Question</button>
                <div class="col-md-6 mx-auto mb-4 my-3">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </div>
        </form>
     </div>
 {% endblock %}

{% block afterScripts %}
    <script >

        function addAnotherQuestion(){
            let questions_cards = document.getElementById("id_questions_cards")
            const theoryTOTAL_FORMS = document.getElementById("id_question_set-TOTAL_FORMS");
            let val = theoryTOTAL_FORMS.value;
            val = parseInt(val);
            val +=1;
            theoryTOTAL_FORMS.value = val;

            let newQuestion = `<div class="card card-body shadow-sm my-3">
                                   <h5>Q${ val }</h5>
                                {{ questionFormSet.empty_form|crispy }} </div>`
            questions_cards.insertAdjacentHTML("beforeEnd", newQuestion);

        }


    </script>
{% endblock %}