{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-3 mt-lg-4">
            <div class="col-md-6 mx-auto">
                <table class="table table-bordered shadow-sm">
                    <tr>
                        <td>Programme</td>
                        <td><h5>{{ question_group.course.programme }} - {{ question_group.course.level }}</h5></td>
                    </tr>
                    <tr>
                        <td>Course</td>
                        <td><h5>{{ question_group.course }}</h5></td>
                    </tr>

                </table>
            </div>
            <div class="col-md-6 mx-auto">
                <table class="table table-bordered shadow-sm">
                    <tr>
                        <td>Total Marks</td>
                        <td><h5>{{ question_group.total_marks }}</h5></td>
                    </tr>
                    <tr>
                        <td>Assessment</td>
                        <td><h5>{{ question_group.get_title_display }}</h5></td>
                    </tr>
                </table>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <h4 class="text-center bg-light rounded p-2">QUESTIONS</h4>
            <hr>
        </div>
    </div>

    
        {% if question_group.questions_type == "multichoice" %}
        <div class="row">
        {% if table_view %}
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th class="text-nowrap"># ({{ total_questions_num }})</th>
                        <th>Question</th>
                        <th><i class="fa fa-list-ol mr-2"></i>Options</th>
                        <th>Marks</th>
                    </tr>
                    {% for question in all_questions %}
                        <tr>
                            <td>{{  forloop.counter }}</td>
                            <td>{{  question.question }}</td>
                            <td>
                                <ul class="list-group">
                                {% for option in question.multichoicequestion_set.all %}
                                    <li class="list-group-item"><span class="text-muted mr-3">{{ forloop.counter }}). </span> {{ option.option }}</li>
                                {% endfor %}
                                </ul>

                            </td>
                            <td>{{  question.max_mark|floatformat }}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        {% else %}
            <div class="row">
                {% for question in all_questions %}
                    <div class="col-md-6 mb-2">
                        <div class="card h-100 card-hover-shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <p>Question {{ question.question_number }}</p>
                                    <p>{{ question.max_mark|floatformat }} marks</p>
                                </div>
                                <p>{{ question|linebreaksbr }}</p>
                                <ul>
                                    {% for option in question.multichoicequestion_set.all %}
                                        <li style="list-style: upper-alpha">
                                            <p class="alert border bg-light">{{ option|linebreaksbr }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>
                    {% if forloop.counter0|divisibleby:2 == 0 %}
                        <div class="col-12">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        </div>

        {% elif question_group.questions_type == "theory" %}
            {% for question in all_questions %}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-hover-shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <span>Question {{ question.question_number }}</span>
                                    <p class="text-center">{{ question.max_mark|floatformat }} marks</p>
                                </div>
                                <p>{{ question|linebreaksbr }}</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

            {% endfor %}
        {% endif %}
    </div>
{% endblock %}