{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-8 col-lg-6 mx-auto">
                <h4 class="text-center">{{ course }} Assessment</h4>
                <hr>
                <p class="text-center">Start by providing the Quiz information</p>
                <form action="" method="POST" class="card card-body" autocomplete="off">
                    {% csrf_token %}
                   {{ form|crispy }}
                    {% if questiongroup.get_absolute_url %}
                        <div class="d-flex flex-column flex-md-row justify-content-center">
                            <a href="{{ questiongroup.get_absolute_url }}" class="btn btn-outline-secondary flex-grow-1 mb-2 mb-md-0 mr-md-1" onclick="appendSpinOnClick(this)"><span class="fa fa-chevron-left mr-2"></span>Discard</a>
                        <button type="submit" class="btn btn-primary flex-grow-1 ml-md-1" value="Submit" onclick="appendSpinOnClick(this)"><span class="fa fa-save mr-2"></span> Save</button>
                        </div>
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-block" value="Submit" onclick="appendSpinOnClick(this)">Submit</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterScripts %}
    <script>
  /*  {#var course = {{ course.pk }}#}  */
    var course_select = document.getElementById("id_course");
        /* {#if (course == course_select.selectedOptions[0].value){#} */
            course_select.setAttribute("readOnly", true);
            course_select.classList.add("no-pointer");
//      {#  { #}

    </script>
{% endblock %}
