{% extends 'base.html' %}
{% block content %}
<div class="jumbotron mt-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6 mx-auto text-center">
                <h5>DEPARTMENT OF {{ course.programme.department|upper }}</h5>
                <h5>{{ academic_year|first }} / {{ academic_year|last }}</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col mx-auto">
            <h5>{{ question_group.get_title_display }} Regulations</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="table-responsive">
            <table class="table table-bordered">

                <tr>
                    <td>DURATION</td>
                    <td>{{ q_preference.duration|time:"H \h\o\u\r\s  i \m\i\n\u\t\e\s"}}</td>
                </tr>
                {% if q_preference.due_date %}
                <tr>
                    <td>DEADLINE</td>
                    <td><p>{{ q_preference.due_date|date:"l F jS, Y. g:i:sA" }}</p></td>
                </tr>
                {% endif %}
                <tr>
                    <td>HALL</td>
                    <td>{{ q_preference.get_environment_display|upper }}</td>
                </tr>
                <tr>
                    <td>STUDENT NAME</td>
                    <td>{{ student.get_name|upper }}</td>
                </tr>
                <tr>
                    <td>INDEX NUMBER</td>
                    <td>{{ student.index_number }}</td>
                </tr>
                <tr>
                    <td>LEVEL</td>
                    <td>{{ student.level|upper }}</td>
                </tr>
                <tr>
                    <td>COURSE TITLE</td>
                    <td>{{ course.name|upper }}</td>
                </tr>
                <tr>
                    <td>COURSE CODE</td>
                    <td>{{ course.code|upper }}</td>
                </tr>
                <tr>
                    <td>EXAMINER</td>
                    <td>{{ course.lecture|upper}}</td>
                </tr>
                <tr>
                    <td>PROGRAMME</td>
                    <td>{{ course.programme|upper }}</td>
                </tr>
                <tr>
                    <td>INSTRUCTION</td>
                    <td>{{ q_preference.instruction|upper }}</td>
                </tr>

            </table>
        </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-md-6 mx-auto">
            {% if question_group.questions_type == "multichoice" %}
                <a href="{% url 'assessment:MCQ_exam_start' QGT=question_group.title QGPK=question_group.pk course_code=question_group.course.code %}?question=1" class="btn btn-success btn-block" onclick="spinOnClick(this)">Start {{ question_group.get_title_display }}</a>
            {% elif question_group.questions_type == "theory" %}
                {% if script_url %}
                    <a href="{{ script_url }}" class="btn btn-success btn-block" onclick="spinOnClick(this)">View {{ question_group.get_title_display }} Script</a>
                {% else %}
                    <a href="{% url 'assessment:theory_exam_start' question_group_title=question_group.title question_group_id=question_group.pk semester=question_group.course.semester %}" class="btn btn-success btn-block" onclick="spinOnClick(this)">Start {{ question_group.get_title_display }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}