{% extends 'assessment/student/assessment/view.html' %}
{% load static %}
{% block page_content %}

    {% if new_assessment %}
        {% regroup new_assessment by course as courses_list %}
        {% for cour in courses_list %}
            <div class="row">
                <div class="col-12">
                    <h5>Course: {{ cour.grouper }}</h5>
                    <hr>
                </div>
            </div>
            <div class="row my-3">
                {% for question_group in cour.list %}
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="card h-100 card-hover-shadow">
                            <div class="card-body">
                                <h5 class="text-center">{{ question_group.get_title_display }}</h5>
                                <table class="table">
                                    <tr>
                                        <td>Question Type</td>
                                        <td>{{ question_group.get_questions_type_display }}</td>
                                    </tr>
                                    <tr>
                                        <td>Total Marks</td>
                                        <td>{{ question_group.total_marks }}</td>
                                    </tr>
                                    <tr>
                                        <td>Duration</td>
                                        <td>{{ question_group.preference.duration|default_if_none:"No Duration set" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Due Date</td>
                                        <td>{{ question_group.preference.due_date|default_if_none:"No Due Date Set" }}</td>
                                </table>

                            </div>
                            <div class="card-footer bg-transparent">
                                <a href="{% url 'assessment:student_assessing' QGPK=question_group.pk QGT=question_group.title %}" class="btn btn-primary btn-block" onclick="spinOnClick(this)">View <span class="fa fa-chevron-right ml-2"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto mt-10vh text-center">
                <img src="{% static 'icons/empty_box.svg' %}" alt="NO UNFINISHED img" class="no-pointer img-fluid mb-3" style="height: 15em">
                <h5>You done all Assessment</h5>
                <hr>
                <p>No new assessment yet.</p>
                <div class="alert alert-info">
                    <span class="fa fa-exclamation-circle"></span>
                    <i>If there is an assigment that you are not seeing try resetting your
                    academic year and semester to reflect the quiz or midsem.</i>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
