{% extends 'assessment/student/assessment/view.html' %}
{% load static %}
{% block page_content %}
    <div class="row">
        <div class="col-12">
            <form action="" method="get">
                <div class="input-group">
                    <input type="search" name="query" id="id_query" value="{{ query|default:'' }}" placeholder="Search quiz name" class="form-control">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary"><span class="fa fa-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if theory_script %}
        <div class="row my-3">
            <div class="col-12 bg-light shadow-sm rounded p-2">
                <h3 class="m-0">Theory Quizzes</h3>
            </div>
            {% for script in theory_script %}
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="card card-hover-shadow h-100">
                        <div class="card-body">
                             <table class="table table-borderless">
                                <tr>
                                    <td colspan="2"><h5 class="text-center">{{ script.question_group.course.name }} {{ script.question_group.get_title_display }}</h5></td>
                                </tr>
                                <tr>
                                    <td>Questions Type</td>
                                    <td>{{ script.question_group.get_questions_type_display }}</td>
                                </tr>

                                <tr>
                                    <td>Course</td>
                                    <td>{{ script.question_group.course.name }}</td>
                                </tr>
                                <tr>
                                    <td>Course Code</td>
                                    <td>{{ script.question_group.course.code }}</td>
                                </tr>
                                <tr>
                                    <td>Started Time</td>
                                    <td>{{ script.timestamp }}</td>
                                </tr>
                                {% with preference=script.question_group.preference %}
                                    <tr>
                                        <td>Duration</td>
                                        <td>{{ preference.duration|default:"No" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Deadline</td>
                                        <td>{{preference.due_date|default_if_none:"No" }}</td>
                                    </tr>
                                {% endwith %}
                            </table>
                        </div>
                        <div class="card-footer bg-transparent">
                            <a href="{% url 'assessment:result' course_id=script.question_group.course_id student_id=request.user.student.id question_group_id=script.question_group_id script_pk=script.pk questions_type=script.question_group.questions_type %}?back={{ request.path }}" class="btn btn-primary btn-block" onclick="spinOnClick(this)">View Script</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% elif multichoice_script %}
        <div class="row my-3">
            <div class="col-12 bg-light shadow-sm rounded p-2">
                <h3 class="m-0">Multiple Choice Quizzes</h3>
            </div>
            {% for script in multichoice_script %}
                <div class="col-md-6 col-lg-4 my-3">
                    <div class="card card-hover-shadow h-100">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tr>
                                    <td colspan="2"><h5 class="text-center">{{ script.question_group.course.name }} {{ script.question_group.get_title_display }}</h5></td>
                                </tr>
                                <tr>
                                    <td>Questions Type</td>
                                    <td>{{ script.question_group.get_questions_type_display }}</td>
                                </tr>

                                <tr>
                                    <td>Course</td>
                                    <td>{{ script.course.name }}</td>
                                </tr>
                                <tr>
                                    <td>Course Code</td>
                                    <td>{{ script.course.code }}</td>
                                </tr>
                                <tr>
                                    <td>Started Time</td>
                                    <td>{{ script.timestamp }}</td>
                                </tr>
                                {% with preference=script.question_group.preference %}
                                    <tr>
                                        <td>Duration</td>
                                        <td>{{ preference.duration|default:"No" }}</td>
                                    </tr>
                                    <tr>
                                        <td>Deadline</td>
                                        <td>{{preference.due_date|default_if_none:"No" }}</td>
                                    </tr>
                                {% endwith %}
                            </table>
                        </div>
                        <div class="card-footer bg-transparent">
                            <a href="{% url 'assessment:result' course_id=script.course_id student_id=request.user.student.id question_group_id=script.question_group_id script_pk=script.pk questions_type=script.question_group.questions_type %}?back={{ request.path }}" class="btn btn-primary btn-block" onclick="spinOnClick(this)">View Script</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="row my-3">
            <div class="col-md-8 col-lg-6 mx-auto text-center">
                    <img src="{% static 'icons/empty_box.svg' %}" alt="NO UNFINISHED img" class="no-pointer img-fluid" style="height: 15em">
                    <hr>
                {% filter upper %}
                    <p class="lead">NO PUBLISHED QUIZ </p>
                     <span>({{ request.user.generalsetting.get_semester_display|upper }})</span>
                {% endfilter %}
            </div>
        </div>
    {% endif %}

{% endblock %}