{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron rounded-0" style="background-image: url({% static 'DefaultImg/bg computer.jpeg' %}); background-size: cover;background-attachment: fixed;background-repeat: no-repeat">
    <div class="container">
        <div class="row">
                <div class="col-auto mx-auto transparentBlur bg-white50 rounded shadow-sm p-2">
                    {% if home_page %}
                    <h4>Do Various Courses Quizzes and Midsem in {{ request.user.student.programme }}</h4>
                    <h4>View your Records and Results</h4>
                    {% else %}
                        <h4>{{ sub_header|upper }}</h4>
                    {% endif %}
                </div>
        </div>
    </div>
</div>

<div class="container">

    {% if home_page %}
        <div class="row my-3">
            <div class="col-md-6 col-lg-4 my-2">
                {% static 'icons/working_at_the_imac.svg' as ongoing_src %}
                {% include 'snippet/lecture_asscessment_card.html' with title="Continue Your Unfinished Assessment" src=ongoing_src  search_name="page" link=on_going_page_id %}
            </div>
            <div class="col-md-6 col-lg-4 my-2">
                {% static 'icons/quiz.png' as assessment_src %}
                {% include 'snippet/lecture_asscessment_card.html' with title="New and other Assessment" src=assessment_src search_name="page" link=new_assessment_page_id %}
            </div>
            <div class="col-md-6 col-lg-4 my-2">
                {% static 'icons/records.png' as published_src %}
                {% include 'snippet/lecture_asscessment_card.html' with title="Published Script and Completed Assessment" src=published_src search_name="page" link=published_script_page_id %}
            </div>

            <div class="col-md-6 col-lg-4 my-2">
                {% static 'icons/rolled_up_newspaper.svg' as reocrds_src  %}
                {% include 'snippet/lecture_asscessment_card.html' with title="Assessment Records" src=reocrds_src search_name="page" link=assessment_records_page_id %}
            </div>

        </div>
    {% else %}
        <div class="row">
            <div class="col">
                <a class="btn btn-link" href="{{ back|default:'?' }}" onclick="onBackSpin(this)"><span class="fa fa-chevron-left mr-2"></span>back</a>
                <hr>
            </div>
        </div>

        {% block page_content %}

        {% endblock %}
    {% endif %}

</div>
{% endblock %}
