{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-auto mx-auto">
                <p class="display-3">Chats <span class="fa fa-comments"></span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mb-2">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card-deck">
                    <div class="card card-hover-shadow">
                        <a href="{% url 'chat:individual_chats' %}" class="card-link">
                            <div class="card-body">
                            <p class="monospace text-center"><span class="fa fa-comment-dots fa-5x"></span><br> Chat Individual</p>
                            </div>
                        </a>
                    </div>
                    <div class="card card-hover-shadow">
{#                        <a href="{% url 'chat:group_chats' %}" class="card-link">#}
                            <div class="card-body">
                            <p class="monospace text-center"><span class="fa fa-comments fa-5x" ></span><br> Chat Group</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
    