{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load questions_group_extra %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-3 my-lg-4">
            <div class="col-md-auto col-lg-6 mx-auto">
                <table class="table">
                    <tr>
                        <td colspan="2" class="text-center"><span class="h5">{{ course_title_code }}</span></td>
                    </tr>
                    <tr>
                        <td>Student Name</td>
                        <td><span class="h5">{{ student.get_name }}</span></td>
                    </tr>
                    <tr>
                        <td>Index Number</td>
                        <td><span class="h5">{{ student.index_number }}</span></td>
                    </tr>
                    <tr>
                        <td>Assessment</td>
                        <td><span class="h5">{{ quiz_title }}</span></td>
                    </tr>
                </table>
            </div>
        </div>

        {% if student_script_formset.errors %}
            <div class="row">
                <div class="col-auto mx-auto">
                    <div class="alert alert-danger"  onclick="window.scrollBy(screen.availHeight/2, screen.availWidth/2)">
                        <p>Please there are some errors in your markings.</p>
                        <hr>
                        <span>Scroll down <i class="fa fa-chevron-circle-down"></i> to address the issues</span>
                    </div>
                </div>
            </div>
        {% endif %}


        <form method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-6 mb-2">
                    <p class="text-center h5">Student Scripts</p>
                    {{ student_script_formset.management_form }}
                    <div class="table-responsive"  style="height: 80vh; overflow-y: auto;">
                        {% for answer_form in student_script_formset %}
                            <div class="card mb-3 card-hover-shadow">
                                <div class="card-body">
                                        <a href="#goto_{{ answer_form.question.value }}" class="text-decoration-none text-dark" id="goto{{ answer_form.question.value }}_quz">
                                            <div class="d-flex flex-column">
                                                {{ answer_form.question|question_text }}
                                            </div>
                                        </a>
                                </div>
                                <div class="card-body">
                                    <td>{{ answer_form|crispy }}</td>
                               </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-6  mb-2">
                    <p class="text-center h5">Marking Scheme</p>
                    <div class="d-flex flex-column"  style="height: 80vh; overflow-y: auto;">
                        <div class="table-responsive">
                            {% for solution in lecture_scheme.solution_set.all %}
                                <div class="card card-hover-shadow mb-2">
                                    <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <span>Question {{ solution.question.question_number }}</span>
                                                <span>{{ solution.question.max_mark|floatformat:2 }} marks</span>
                                            </div>
                                            
                                            <div class="">
                                                <a href="#goto{{ solution.question.pk }}_quz" class="text-decoration-none text-dark">
                                                    {{ solution.question|linebreaksbr }}
                                                </a>
                                            </div> 
                                    </div>
                                    
                                    <div id="goto_{{ solution.question.id }}" class="card-body">
                                        <p>Lecture Solution</p>
                                        <p class="text-success p-2 rounded" style="background-color: #d4edda5c;">{{ solution.answer|linebreaksbr }}</p>
                                        {% if solution.notes %}
                                            <p><b>Lecture Note</b></p>
                                            <p class="alert bg-light">{{ solution.notes|linebreaksbr|default:"No Note" }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-3 p-2" style=" box-shadow: rgb(0 0 0 / 8%) 0px -11px 10px 4px;">
                <div class="col-lg-8 mx-auto">
                    <button class="btn btn-primary btn-block">Save Marking</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}