{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row my-3 mt-lg-4">
            <div class="col-md-8 col-lg-6 mx-auto">
                <h5 class="text-center">ASSESSMENT RECORDS</h5>
            </div>
        </div>

    {% if all_course_scripts or courses %}


        <div class="row">
            <div class="col-auto ml-auto">
                <div class="btn-group btn-block">
                    <a href="?{{ sort_name }}={{ course_sort }}" class="btn btn-outline-secondary {% if not is_quiz_sort %} active {% endif %}" >Course</a>
                    <a href="?{{ sort_name }}={{ quiz_sort }}" class="btn btn-outline-secondary {% if is_quiz_sort %} active {% endif %}" >Quiz</a>
                </div>
            </div>
        </div>

        {% if is_quiz_sort %}
            <div class="row mb-2">
                <div class="col-md-12">
                    <hr>
                    <form method="get">
                        <div class="d-flex justify-content-around flex-column flex-md-row flex-lg-row">
                           {{ filter_form|crispy }}
                            <input type="hidden" name="{{ sort_name }}" value="{{ quiz_sort }}">
                        </div>
                        <div class="d-flex flex-row justify-content-between align-items-center">
                            <button type="reset" name="reset" class="btn btn-light flex-grow-1 mr-2" ><i class="fa fa-recycle mr-2"></i> Reset</button>
                            <button type="submit" class="btn btn-light flex-grow-1" onclick="spinOnClick(this)" ><i class="fa fa-filter mr-2"></i> filter</button>
                        </div>
                        <hr>
                    </form>
                </div>
            </div>

            {% if all_course_scripts and all_course_scripts.exists %}
            {% regroup all_course_scripts by course as all_course_scripts_list  %}
            {% for all_course in all_course_scripts_list %}
                <div class="row my-3 my-md-4">
                    <div class="jumbotron mb-2 p-0 mx-auto w-100">
                    {% with course_instance=all_course.grouper %}
                           <a href="{% url 'records:course_detail' course_code=course_instance.code course_pk=course_instance.pk %}?back={{ request.path }}&{{ sort_name }}={{ quiz_sort }}" class="text-center" >
                                <h3>{{ course_instance.name }} ({{ course_instance.level }})</h3>
                           </a>
                    {% endwith %}
                    {% for course_quiz in all_course.list %}
                            <div class="col-12 my-2">
                                <div class="card-group">
                                    <div class="card">
                                        {% url 'records:lecture_quiz_detail' course_code=all_course.grouper.code question_group_pk=course_quiz.pk question_group_title=course_quiz.title as quiz_records_url %}
                                        <a href="{{ quiz_records_url }}?back={{ request.path }}" class="btn btn-outline-light text-left">
                                    <div class="card-body">
                                        <h5 class="text-dark">{{ course_quiz.get_title_display }}</h5>
                                        <table class="table table-borderless">
                                            <tr>
                                                <td>Questions Type</td>
                                                <th>{{ course_quiz.get_questions_type_display }}</th>
                                            </tr>
                                            <tr>
                                                <td>Number of Scripts</td>
                                                <th>{{ course_quiz.total_script_count }} Students</th>
                                            </tr>
                                            <tr>
                                                <td>Total Marks</td>
                                                <th>{{ course_quiz.total_marks }} Marks</th>
                                            </tr>
                                            <tr>
                                                <td>Programme</td>
                                                <th>{{ course_quiz.course.programme }}</th>
                                            </tr>
                                        </table>
                                    </div>
                                        </a>
                                    </div>
                                    <div class="card">
                                        <a href="{{ quiz_records_url }}?back={{ request.path }}" class="btn btn-outline-light text-left">
                                        <div class="card-body">
                                            <p class="text-dark">Score</p>
                                            <table class="table table-borderless">
                                                <tr>
                                                    <td>Scores over average</td>
                                                    <th>{{ course_quiz.get_scripts_average_score_count|default:0 }} students</th>
                                                </tr>
                                                <tr>
                                                    <td>Average Score</td>
                                                    <th>{{ course_quiz.get_scripts_average_score|floatformat:2|default:"---" }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Highest Score</td>
                                                    <th>{{ course_quiz.get_scripts_highest_score|floatformat:2|default:"---" }}</th>
                                                </tr>
                                                <tr>
                                                    <td>Lowest Score</td>
                                                    <th>{{ course_quiz.get_scripts_lowest_score|floatformat:2|default:"---" }}</th>
                                                </tr>
                                            </table>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
{#                            <div class="col-12">#}
{#                                <div class="table-responsive">#}
{#                                    {% if course_quiz.questions_type == "multichoice" %}#}
{#                                        {% include 'record/lecture/student_script_table.html' with scripts=course_quiz.multichoicescripts_set.all question_type=course_quiz.questions_type %}#}
{#                                    {% elif course_quiz.questions_type == "theory" %}#}
{#                                        {% include 'record/lecture/student_script_table.html' with scripts=course_quiz.studenttheoryscript_set.all question_type=course_quiz.questions_type %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
                    {% endfor %}
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <div class="row mt-3 mt-lg-4">
                <div class="col-md-6 mx-auto text-center">
                    <img src="{% static 'icons/empty_box.svg' %}" alt="empty_box" class="img-fluid no-pointer fa-spin" style="height: 10em">
{#                    <span class="fa fa-box-open fa-5x fa-spin"></span>#}
                    <hr>
                    <span class="lead d-block">No records found</span>
                    <a href="{% url 'records:lecture_all' %}" class="btn btn-link">Ignore filter</a>
                </div>
            </div>
        {% endif %}

        {% else %}

            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
                <div class="col-auto">
                    <p>Please click <span class="bg-secondary p-1 text-white rounded">view</span> button,  on one of your courses to view it records</p>
                </div>
        </div>

            <div class="row">
                {% for course in courses %}
                    <div class="col-md-6 col-lg-4 mb-3">
                        {% static 'DefaultImg/course.png' as img_src %}
                        {% url 'records:course_detail' course_code=course.code course_pk=course.pk as detail_url %}
                        {% include 'snippet/lecture_asscessment_card.html' with title=course link=detail_url caption_text=course.programme src=img_src caption_title="Course Programme; click on view" search_para1="course" search_name1="sort" %}
                    </div>
                {% endfor %}

            </div>

        {% endif %}

    {% else %}
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <span class="fa text-info fa-exclamation-circle fa-4x fa-spin"></span>
                <div class="alert alert-info my-2">
                    <span>We can not find any records.</span><br>
                    <hr>
                    <span>You have no record course for this semester ({{ request.user.generalsetting.get_semester_display }})</span><br>
                </div>
            </div>
        </div>
    {% endif %}


    </div>
{% endblock content %}
{% block afterScripts %}
{% endblock %}