{% extends 'base.html' %}
{% load student_record %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-auto mx-auto text-center">
                <h5>{{ coursemodel.programme }} Programme</h5>
                <h5>{{ object.name|title }} - {{ coursemodel.code }} - Records</h5>
            </div>
        </div>

        <div class="row mb-3 mb-md-4">
            <div class="col">
                <div class="d-flex justify-content-between">
                    <a href="{% if is_back %} {{ is_back }} {% else %} {% url 'records:lecture_all' %}?sort={% if is_course_sort %}course{% endif %} {% endif %}" class="btn btn-link btn-sm d-print-none" onclick="onBackSpin(this)"><span class="fa fa-chevron-left mr-2"></span>back</a>
                    <a href="" class="btn btn-outline-secondary btn-sm d-print-none" onclick="window.print()"><span class="fa fa-print mr-2"></span>Print</a>
                </div>
            </div>
            <div class="col-12">
                <hr>
            </div>
        </div>

        <div class="row d-print-none">
            <div class="col">
                {% for question_group in question_groups %}
                    {% if question_group.status == conduct_status %}
                        <p class="alert alert-warning alert-dismissable">{{ question_group.get_title_display }} status is still in {{ question_group.get_status_display }} state - Some students are still working
                            <span class="fa fa-times-circle float-right" onclick="dismissQuzStatusPopUp()"></span>
                        </p>
                    {% elif question_group.status == conducted_status and question_group.questions_type == theory_type %}
                        <p class="alert alert-warning alert-dismissable">{{ question_group.get_title_display }} status is still in {{ question_group.get_status_display }} state - The Questions are not completely marked
                            <span class="fa fa-times-circle float-right" onclick="dismissQuzStatusPopUp()"></span>
                        </p>
                    {% endif %}
                {% endfor %}

            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <p>Students record</p>
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Index Number</th>
                        <th>Name</th>
                        {% for quiz in question_groups %}
                            <th>
                                <span class=" mr-1">{{ quiz.get_title_display }} </span>
                                <span>Marks {{ quiz.total_marks }}</span>
                            </th>
                        {% endfor %}
                        <th class="text-right">Total Score Quiz & Mid</th>
                    </tr>
                    {% for student in students %}
                        <tr class="hover-inset">
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.index_number }}</td>
                            <td>{{ student.get_name }}</td>
                            {% for quiz in question_groups %}
                                <td>{{ student|get_score:quiz }}</td>
                            {% endfor %}
                            <th class="text-right">{{ student|get_total_score:coursemodel }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterScripts %}
    <script>
        function dismissQuzStatusPopUp() {
            $(".alert-dismissable").hide("fade")
        }
    </script>
{% endblock %}