{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 mx-auto text-center">
                <h5>{{ request.user.student.programme }} Programme Courses</h5>
                <p>Select course to view its records</p>
            </div>
        </div>

        {% if courses %}
            <div class="row my-4">
            {% for course in courses %}
                <div class="col-md-6 col-lg-4 my-2">
                    {% static 'DefaultImg/course.png' as course_img_src %}
                    {% url 'records:student_course_records' course_id=course.id course_code=course.code as course_record_url %}
                    {% include 'snippet/lecture_asscessment_card.html' with title=course.name link=course_record_url src=course_img_src %}
                </div>
            {% endfor %}

            </div>
        {% else %}
            <div class="row my-4">
                <div class="col-md-6 mx-auto text-center">
                   <div class="alert alert-info">
                        <span class="fa fa-exclamation-circle fa-2x"></span><br>
                        <span>All <b>Course</b> that you have records with will show here</span>
                        <hr>
                        <span>There are no records found for you</span><br>
                       <a href="{{ request.user.generalsetting.get_absolute_url }}">({{ request.user.generalsetting.get_semester_display }})</a>
                   </div>
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}