{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 mx-auto text-center">
                <h5>ON GOING QUIZ</h5>
                <span class="badge badge-light rounded">Status : Conduct</span>
                <hr>
            </div>
        </div>

        {% if  quizzes %}

        <div class="row">
            <div class="col">
                <p>Quiz are grouped in Courses</p>
            </div>
        </div>
        {%  regroup quizzes by course as quizzes_list %}
        {% for quizzes_group in quizzes_list %}
            <div class="row">
                <div class="col-12">
                    <a class="lead btn btn-light collapse-toggle w-100" title="click to show {{ quizzes_group.grouper.code }} QUIZ" href="#id_{{ quizzes_group.grouper.code }}" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="#id{{ quizzes_group.grouper.code }}">
                        <span class="d-flex justify-content-between">
                            <span title="Course">{{ quizzes_group.grouper.name }}</span>
                            <span title="Programme">{{ quizzes_group.grouper.programme }}</span>
                            <span title="Level">{{ quizzes_group.grouper.level }}</span>
                            <span><i class="fa fa-caret-down ml-2"></i></span>
                        </span>
                    </a>
                    <hr>
                </div>
            </div>
            <div class="row mb-4 collapse collapsing bg-light" id="id_{{ quizzes_group.grouper.code }}">
                {% for quiz in quizzes_group.list %}
                    <div class="col-md-6 col-lg-4 my-3">
                        <div class="card h-100 card-hover-shadow">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tr>
                                            <th colspan="2" class="text-center">{{ quiz.get_title_display }}</th>
                                        </tr>
                                        <tr>
                                            <td>Question Type</td>
                                            <td>{{ quiz.get_questions_type_display }}</td>
                                        </tr>
                                        <tr>
                                            <td>Question</td>
                                            <td>{{ quiz.question_set.count }} Questions</td>
                                        </tr>
                                        {% with preference=quiz.preference %}
                                            <tr>
                                                <td>Due Date</td>
                                                <td>{{ preference.due_date|default:"No Due Date" }}</td>
                                            </tr>
                                            <tr>
                                                <td>Duration</td>
                                                <td>{{ preference.duration|time:"h\h\r\s : i\m\s"|default:"No Duration" }}</td>
                                            </tr>
                                        {% endwith %}
                                        {% if quiz.questions_type == "theory" %}
                                            {% with script=quiz.studenttheoryscript_set %}
                                            <tr>
                                                <td>Script</td>
                                                <td>{{ script.count }}</td>
                                            </tr>
                                            {% endwith %}
                                        {% else %}
                                            {% with script=quiz.multichoicescripts_set %}
                                                <tr>
                                                    <td>Script</td>
                                                    <td>{{ script.count|default:"No Student" }} Scripts</td>
                                                </tr>
                                            {% endwith %}
                                        {% endif %}
                                        <tr>
                                            <td>Level</td>
                                            <td>{{ quiz.course.level }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <a href="{% url 'assessment:conducting' course_name=quiz.course.name course_pk=quiz.course.pk question_group_pk=quiz.pk %}" class="btn btn-outline-primary btn-block" onclick="appendSpinOnClick(this)">View</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}

        {% else %}

            <div class="row mt-3">
                <div class="col-md-6 mx-auto text-center">
                    <img src="{% static 'icons/empty_box.svg' %}" alt="empty box" class="img-fluid small no-pointer" style="height:10em;">
                    <hr>
                    <p>There are no quiz your conducting yet</p>
                    <a href="{% url 'assessment:all'  %}" class="btn btn-link">back to assessment</a>
                </div>
            </div>

        {% endif %}

    </div>
{% endblock %}