{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        <div class="row" style="margin-top: 10vh">
            <div class="col-12">
                <h1 class="text-center">Add a Department</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto my-auto">
                <form action="" method="post" class="card card-body border-primary alert-primary shadow-sm">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <hr>
                    <div class="d-flex justify-content-between">
                        {% url 'department:list' as departments_url %}
                        <a href="{{ back_url|default:departments_url }}" class="btn btn-outline-secondary" onclick="onBackSpin(this)"><span class="fa fa-chevron-left mr-1"></span> back</a>
                        <button type="submit" class="btn btn-primary" onclick="appendSpinOnClick(this)">Add Department</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterScripts %}
    <script>
        $("#id_created_by").val("{{ request.user.pk }}")
    </script>
{% endblock %}