{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h1 class=" text-center">{{ department }} Department</h1>
            </div>
        </div>
{% if request.user.is_staff %}
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{% url 'department:list'  %}" class="btn btn-link" onclick="appendSpinOnClick(this)"><i class="fa fa-chevron-left mr-2"></i>back</a>

                    <a href="{% url 'department:programme:add' departmentName=department.name departmentPK=department.pk %}" class="btn btn-primary" onclick="appendSpinOnClick(this)">Add Programme</a>
                </div>
            </div>
    </div>
    {% else %}
    <div class="mt-3"></div>
{% endif %}
    {% if programmes %}
        <div class="row">
            <div class="col-12">
                <p class="lead text-center">Department Programmes</p>
                <hr>
            </div>
        </div>


        <div class="row">
            {% for programme in programmes %}
                <div class="col-md-5 col-lg-4 my-2">
                    <div class="card card-hover-shadow card-body">
                        <h6 class="card-title">{{ programme }}</h6>
                        <hr style="padding: 0; margin: 0 0 2px 0;">
                        <table class="table table-borderless">
                            <tr>
                                <td>Student Registered</td>
                                <td>{{ programme.student_set.count|default:0 }} </td>
                            </tr>
                            <tr>
                                <td>Courses</td>
                                <td>{{ programme.coursemodel_set.count }}</td>
                            </tr>
                        </table>
                        <div class="d-flex justify-content-end align-items-center">
                                <a href="{{ programme.get_absolute_url }}" class="btn btn-primary mr-2" onclick="appendSpinOnClick(this)">View<span class="fa fa-external-link-alt ml-1"></span> </a>
                                {% if request.user.is_staff %}
                                    <a href="{{ programme.get_update_url }}" class="btn btn-secondary" onclick="appendSpinOnClick(this)">Edit<span class="fa fa-edit ml-1"></span></a>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-6 mx-auto" style="margin-top: 20vh">
                <p class="lead text-center">This department has no programme registered</p>
                <hr>
                <p class="text-center">last update: {{ department.updated }}</p>
            </div>
        </div>
    {% endif %}


    </div>
{% endblock %}

<!--
{% block afterScripts %}
{#    <script>#}
{#        function addProgrammeDialog() {#}
{#            const defaultTxt = "eg: Information Communication Technology";#}
{#            const programmeName = window.prompt("Enter programme name", defaultTxt);#}
{#            if (programmeName === defaultTxt) {#}
{#                alert("Sorry enter an actual department name.")#}
{#            }#}
{#            else if (programmeName.length > 5){#}
{#                $.ajax({#}
{#                    url:'{{ modal_form_action }}',#}
{#                    data: {"name": programmeName, "departmentID":{{department.pk}}},#}
{#                    success: function (response) {#}
{#                        if (response.hasSaved) {#}
{#                            alert('{{ department|title }}'+" Department now has " + programmeName.toUpperCase() + " programme")#}
{#                        }#}
{#                        else if (response.exist){#}
{#                            alert(programmeName.toUpperCase() + " exists in this or another DEPARTMENT")#}
{#                        }#}
{#                        console.log(response)#}
{#                    },#}
{#                    error: function (response) {#}
{#                        console.log(response);#}
{#                        alert("sorry " + programmeName.toUpperCase() + " can not be add to " + '{{ department|upper }}')#}
{#                    }#}
{#                })#}
{##}
{##}
{#            }#}
{##}
{#            else{#}
{#                alert("Sorry the entered programme is not enough")#}
{#            }#}
{#        }#}
{#        function csrfSafeMethod(method) {#}
{#            // these HTTP methods do not require CSRF protection#}
{#            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#        }#}
{#        $.ajaxSetup({#}
{#            beforeSend: function(xhr, settings) {#}
{#                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#                    xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#                }#}
{#            }#}
{#        });#}
{##}
{#    </script>#}
{% endblock %}

-->