{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row mt-3 mt-lg-4">
            <div class="col-md-6 mx-auto text-center">
                <h4>{{ programme }} Programme</h4>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card-group">
                    {%  include 'snippet/H_label_value_card.html' with label="Number of courses" value=programme.coursemodel_set.count new_line=1 tc=1 %}
                    {%  include 'snippet/H_label_value_card.html' with value=student.level new_line=1 tc=1 %}
                    {%  include 'snippet/H_label_value_card.html' with label="Number of student" value=class_mates.count new_line=1 tc=1 %}
                </div>
            </div>
        </div>

    <div class="row">
        <div class="table-responsive mt-3 mt-lg-4">
            <p>{{ programme }} courses for {{ student.level }}</p>
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Quizzes</th>
                    <th>Lecture</th>
                </tr>
                {% for course in courses %}
                <tr class="hover-inset">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.code }}</td>
                    <td>
                        {{ course.conducted_quizzes.count|default:0 }}
                    </td>
                    <td>{{ course.lecture|default_if_none:"No Lecturer assigned" }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

        <div class="row">
        <div class="table-responsive mt-3 mt-lg-4">
            <p>{{ request.user.get_short_name }}, these are your class mate</p>
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Index Number</th>
                    <th>Name</th>
                    <th>Mobile</th>
                </tr>
                {% for mate in class_mates %}
                <tr class="hover-inset {% if mate.profile == request.user %} table-primary" title="This is you, {{ request.user.get_short_name }} {% else %} {% endif %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ mate }}</td>
                    <td>{{ mate.get_name }}</td>
                    <td>{{ mate.profile.phone_number }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    </div>
{% endblock %}

