{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">

        <div class="row my-3">
            <div class="col-12">
                <h3 class="text-center">{{ object }}</h3>
                <hr>
            </div>
            <div class="col">
                <div class="d-flex justify-content-between ">
                    {% url 'department:programme:course:select_to_chat' as course_slect_url %}
                    <a href="{{ back_url|default:course_slect_url }}" class="btn btn-link" onclick="onBackSpin(this)"><span class="fa fa-chevron-left"></span> Back</a>

                    <a href="{% url 'chat:course_people' course_code=course_code %}?back={{ request.path }}" class="btn btn-link" onclick="spinOnClick(this)"><span class="fa fa-users"></span> People</a>
                </div>
                <hr>
            </div>
        </div>

        {% if messages %}
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center">Messages</h4>
                </div>
                <div class="col-md-8 mx-auto bg-light p-3">

                    {% for message in messages %}
                        <div class="d-flex {% if message.sender == request.user %} justify-content-end {% else %} justify-content-start {% endif %} ">
                            <div class="card  card-hover-shadow {% if message.sender == request.user %} alert-success {% else %} alert-primary {% endif %} text-dark">
                                <div class="card-header d-flex justify-content-between">
                                    <span><span class="fa fa-user-circle mr-1"></span> {{ message.sender.get_full_name }}</span>
                                    <span class="ml-md-4">{{ message.timestamp|timesince }} ago</span>
                                </div>
                                <div class="card-body">
                                    <p>{{ message.message|linebreaksbr }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        {% else %}
            <div class="row my-3">
                <div class="col-md-6 mx-auto">
                    <div class="alert alert-info text-center">
                        <span class="fa fa-exclamation-circle fa-2x"></span>
                        <p></p>
                        <p>All chat in {{ object.course.name }} Course will Show here</p>
                        <hr>
                        <em>There is no chats yet, send me messages to your colleagues and teachers</em>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row my-3">
            <div class="col-md-8 mx-auto">
                <form action="" method="post" class="rounded p-2 card-hover-shadow">
                    {% csrf_token %}
                    {{ chat_form|crispy }}
                    <button class="btn btn-success btn-block" onclick="spinOnClick(this)">Send Message <span class="fa fa-chevron-up"></span></button>
                </form>
            </div>
        </div>

    </div>

{% endblock content %}

