{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-auto p-2 bg-light rounded mx-auto">
                <h5>{{ title|title }}</h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary float-right" onclick="spinOnClick(this)">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    