{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
    {% if back_url %}
        <div class="row my-2">
            <div class="col">
                <a href="{{ back_url }}" class="btn btn-link" onclick="onBackSpin(this)"><span class="fa fa-chevron-left"></span> back</a>
            </div>
        </div>
    {% endif %}

        <div class="row my-3">
            <div class="col-md-auto mx-auto">
                <h3>{{ request.user.get_short_name }}, Change Your Password</h3>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary" onclick="spinOnClick(this)">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}