{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto mt-3">
                <p class="display-4 text-center">Student Detail</p>
            </div>
        </div>

    <div class="row">
        <div class="col-12 mx-auto" style="margin-top: 20vh;">
           <p class="text-center"> student index number {{ student }}</p>
            <hr>
            <p class="text-muted lead text-center">Under Development</p>
        </div>
    </div>
    </div>
{% endblock %}