{% load crispy_forms_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'DefaultImg/class_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
    <title>{{ title|default:"Student Registaration" }} | Assessment</title>
</head>
<body style="background-image: url({% static 'DefaultImg/bgs/gh_sch_bg.svg' %}); background-attachment: fixed; background-size: cover">
    {% if request.user.is_admin   %}
        {% include 'snippet/admin-navbar.html' %}
    {% elif request.user.is_lecture  %}
        {% include 'snippet/staff_navbar.html' %}
    {% elif request.user.student %}
        {% include 'snippet/student-navbar.html' %}
    {% else %}
        {% include 'snippet/navbar.html' %}
{% endif %}

    <div class="container transparentBlur rounded shadow" style="background-color: rgba(255, 255, 255, 0.94)">
        <div class="row mt-4 py-2">
            <div class="col-12">
                <p class="h4 text-center">{{ HeaderTitle }}</p>
            </div>
        </div>

        <div class="row mb-4 pb-3">
            <div class="col-12">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-5 mx-auto">
                            <h6 class="text-center">Personal Information</h6>
                            {% csrf_token %}
                            {{ profile_form|crispy }}
                        </div>
                        <div class="col-md-1 d-none d-md-block" id="id_veritcalDivider">
                            <div class="mx-auto mt-4" style="width: 3px; background-color: #1d212454; height: 90%;"></div>
                        </div>
                        <div class="col-md-5 mx-auto">
                            <hr class="d-none d-sm-block d-md-none">
                            <h6 class="text-center">School Information</h6>
                            {{ student_form|crispy }}
                            {{ programme_form|crispy }}
                            {{ pwd_form|crispy }}
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary" onclick="spinOnClick(this)">Register</button>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script src="{% static 'bootstrap/js-markup/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script>

    $("#id_profile_form-phone_number_0").parent().addClass("input-group");
    var programme = {{ programme_default|default:"-1" }}
    var programme_select = document.getElementById("{{ student_form.programme.id_for_label }}");
        if (programme == programme_select.selectedOptions[0].value){
            programme_select.setAttribute("readOnly", true);
            programme_select.classList.add("no-pointer");
        }


    let phoneElm = document.getElementById("{{ profile_form.phone_number.id_for_label }}")
        {% if number_has_error %}
              $("#id_profile_form-phone_number_0").parent().removeClass("input-group");
              $("#id_profile_form-phone_number_0").addClass("mb-2");
            let error_tag = `<p id="error_{{ profile_form.phone_number.id_for_label }}" class="invalid-feedback"><strong>{{ number_error.as_text }}</strong></p> `
            phoneElm.classList.add("is-invalid")
            document.getElementById("id_profile_form-phone_number_1").classList.add("is-invalid")
            {#phoneElm.parentElement.insertAdjacentHTML("beforeend", error_tag)#}
        {% endif %}
    </script>
</body>
</html>
