{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row my-3 my-lg-4">
            <div class="col-md-6 mx-auto">
                <h5 class="text-center">MARKING SCHEME</h5>
            </div>
        </div>

    <div class="row">
        <div class="col">
            <h5>Please Select the course available to view it Quizzes Marking Scheme</h5>
            <hr>
        </div>
    </div>

    <div class="row">
        {% for course in courses_set %}
            <div class="col-md-6 col-lg-4 my-2">
                {% static 'DefaultImg/course.png' as course_img %}
                {% include 'snippet/lecture_asscessment_card.html' with title=course src=course_img link=course.code search_name="course_code" %}
            </div>
        {% endfor %}

    </div>
    </div>
{% endblock %}