{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-12">
                <hr>
                <span href="" class="btn btn-link" onclick="onBackSpin(this)" onmousedown="windowHistoryBack()"><i class="fa fa-chevron-left mr-2"></i>back</span>
                <hr>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-12 col-lg-10 mx-auto">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="text-center">{{ question_instance.group.course }} - {{ question_instance.group.get_title_display }}</h5>
                        <hr>
                        <h6>Question {{ question_instance.question_number|default:"" }}</h6>
                        <p>{{ question_instance.question|linebreaksbr }}</p>
                        <hr>
                       <form action="" method="post">
                           {% csrf_token %}
                           {{ form|crispy }}
                           <button class="btn btn-primary btn-block " onclick="appendSpinOnClick(this)">Save Solution</button>
                       </form>
                        </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}