{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Assessment Login</title>
    <link rel="shortcut icon" href="{% static 'DefaultImg/class_logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/custom.css' %}">
</head>
<body style="background-image: url({% static 'DefaultImg/bgs/gh_sch_bg.svg' %}); background-attachment: fixed;background-repeat: no-repeat; background-size: cover;">

{% load crispy_forms_tags %}

    <div class="container">
        <div class="row" style="margin-top:20vh">
            <div class="col-auto mx-auto text-center">
                <h2 class="text-monospace text-dark mb-2"><a href="{% url 'landing-page' %}" class="btn btn-primary">Continuous Assessment System</a></h2>
                {% if request.user.is_authenticated %}
                    <span class="alert alert-warning d-block">
                        {{ request.user }}, this action will automatically logout your account.
                        Then the {{ cardHeader|lower }} to the system.
                        <a href="{% url 'landing-page' %}" class="alert-link" title="cancel {{ cardHeader|lower }}"><i class="fa fa-times-circle"></i></a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-7 col-lg-6 mx-auto mt-auto ">
                <div class="card shadow transparentBlur mt-3" style="background-color: #ffffffb3">
                    <div class="card-header">
                        <h3 class="text-center text-primary">{{ cardHeader }}</h3>
                    </div>
                    <div class="card-body">
                        {% if admin_required %}
                            <div class="alert alert-danger">
                                <p>{{ admin_required|safe }}</p>
                            </div>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block" onclick="spinOnClick(this)">Log In</button>
                        </form>

                        <br>
                        <div class="d-flex justify-content-end">
                            
                        </div>
                        <div class="text-center">
                            <a href="{% url 'accounts:confirm_reset_pwd' %}?usr={{ usr }}" class="btn btn-link">Forgot password?</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
   <script src="{% static 'utils/active_btn_spin.js' %}"></script>
</body>
</html>