{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6 mx-auto">
                <h5 class="text-center">ALL STUDENT SCRIPTS</h5>
            </div>
            <div class="col-md-12">
                <hr>
                <a href="?action=back" class="btn btn-link" onclick="onBackSpin(this)"><i class="fa fa-chevron-left mr-2"></i>back</a>
                <hr>
            </div>
        </div>
    {% if question_group.exists %}
        {% regroup question_group by course as question_group_list %}
        {% for question_group_tuple in question_group_list %}
            <div class="row my-4 shadow rounded px-1 py-2">
                <div class="col-12 mx-auto">
                    <h5 class="text-center">{{ question_group_tuple.grouper }}</h5>
                </div>

                {% for question_group_instance in question_group_tuple.list %}
                    <div class="col-12 my-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6>{{ question_group_instance.get_title_display }} - {{ question_group_instance.get_questions_type_display }}</h6>
                            <div class="btn-group">
                                <a href="{% url 'lecture:question_group_detail' course_id=question_group_instance.course_id question_group_pk=question_group_instance.pk %}" class="btn btn-outline-secondary ">View</a>
                                {% if question_group_instance.questions_type == "theory" %}
                                <a href="{% url 'lecture:mark_scripts' question_group_pk=question_group_instance.pk question_group_title=question_group_instance.title %}" class="btn btn-outline-secondary ">Mark</a>
                                {% endif %}
                                <a href="{% url 'records:lecture_quiz_detail' question_group_title=question_group_instance.title question_group_pk=question_group_instance.pk course_code=question_group_instance.course.code %}" class="btn btn-outline-secondary ">Records</a>
                            </div>
                        </div>
                    </div>

                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <tr>
                                        <th>#</th>
                                        <th>Index Number</th>
                                        <th>Name</th>
                                        <th>Programme</th>
                                        <th>Level</th>
                                        <th>Completed</th>
                                        <th>Script Status</th>
                                    </tr>
                                    {% if question_group_instance.questions_type == "multichoice" %}
                                        {% for script in question_group_instance.multichoicescripts_set.all %}
                                            {% with student=script.student %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ student.index_number }}</td>
                                                    <td>{{ student.get_name }}</td>
                                                    <td>{{ student.programme }}</td>
                                                    <td>{{ student.level }}</td>
                                                    <td>{{ script.is_completed|yesno:"Yes, No" }}</td>
                                                    <td>{{ script.get_status_display }}</td>
                                                </tr>
                                            {% endwith %}
                                        {% endfor %}
                                    {% elif question_group_instance.questions_type == "theory" %}
                                        {% for script in question_group_instance.studenttheoryscript_set.all %}
                                            {% with student=script.student %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ student.index_number }}</td>
                                                    <td>{{ student.get_name }}</td>
                                                    <td>{{ student.programme }}</td>
                                                    <td>{{ student.level }}</td>
                                                    <td>{{ script.is_completed|yesno:"Yes, No" }}</td>
                                                    <td>{{ script.get_status_display }}</td>
                                                </tr>
                                            {% endwith %}
                                        {% endfor %}
                                    {% endif %}
                                    
                                </table>
                            </div>
                        </div>

                {% endfor %}

            </div>
        {% endfor %}
    {% else %}
        <div class="row mt-3">
            <div class="col-md-6 mx-auto text-center">
                <img src="{% static 'icons/empty_box.svg' %}" alt="empty box" class="img-fluid small no-pointer" style="width: fit-content; height: 10em;">
                <hr>
                <p>There no  script available</p>
                <a href="{% url 'assessment:all'  %}" class="btn btn-link">View assessment</a>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}