{% extends 'base.html' %}
{% load  crispy_forms_tags %}


{% block content %}
    <div class="container">
        <div class="row my-4">
            <div class="col-md-6 mx-auto">
                <h4 class="text-center">{{ title }}</h4>
                <hr>
                <div class="card shadow-sm p-3">
                    <form method="post" action="{{ request.path }}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary" onclick="spinOnClick(this)">Save</button>
                    </form>
                </div>
                <hr>
                <a href="{% url 'department:programme:course:level_list' %}" onclick="onBackSpin(this)"><span class="fa fa-chevron-left"></span> back</a>
            </div>
        </div>
    </div>

{% endblock %}