{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <aside class="col-md-4 col-lg-3  rounded card-hover-shadow pb-1" style="overflow-y: auto; max-height: 100vh;">
                <div class="table-responsive">
                    <span class="lead">Chat Contacts</span>
                    <hr>                    
                    {% if request.user.is_staff %}
                        <span class="fa fa-user-friends mr-2"></span>
                        <span>Staff</span>
                    <hr>
                        {% for user in staff_contact %}
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action" href="{% url 'chat:individualchats_user' current_user_slug=user.slug %}">{{ user }}</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% regroup lectures_contact by department as depart_lecturers_list %}
                    {% for d_lecturers  in depart_lecturers_list %}
                        <small>{{ d_lecturers.grouper }} Department Lecturers</small>
                        <div class="list-group">
                            {% for user in d_lecturers.list %}
                            <a href="{% url 'chat:individualchats_user' current_user_slug=user.profile.slug %}" class="list-group-item  list-group-item-action">
                                {{ user }}
                            </a>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    {% if not request.user.is_staff %}
                        {% regroup students by programme as student_list %}
                        {% for student in student_list %}
                            <small>{{ student.grouper }} Students</small>
                            <div class="list-group">
                                {% for user in student.list %}
                                    <a href="{% url 'chat:individualchats_user' current_user_slug=user.profile.slug %}" class="list-group-item  list-group-item-action">{{ user.profile }} <small>{{ user.profile.phone_number }}</small> </a>
                                {% endfor %}                                        
                            </div>
                        {% endfor %}
                            
                    {% endif %}
                        
                </div>
            </aside>

            <main class="col-md-8 col-9 rounded shadow-sm py-2" style="overflow-y: auto; max-height: 100vh;">
                
                {% if object_list  %}
                    <div class="alert alert-info">
                        <h5 class="text-center">{{ current_user }} <span class="fa fa-comments"></span></h5>
                    </div>
                <div class="table-responsive">
                        <table class="table">
                            {% for msg in object_list %}
                                <tr>
                                    <td>
                                        <div class="card card-hover-shadow">
                                            <div class="card-header 
                                            {% if request.user == msg.to_user %}
                                                alert-info
                                            {% endif %}
                                                ">
                                                <span>{% if msg.from_user != request.user %} {{ msg.from_user.get_short_name }} - {{ msg.from_user.username }} {% else %} <span title="sent by you">You</span> {% endif %}</span> <span class="float-right text-muted">{{ msg.timestamp|timesince }} ago</span>
                                            </div>
                                            <div class="card-body">
                                                {{ msg.message|linebreaksbr }}
                                            </div>
                                        </div> 
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    {% url 'chat:add_message' to_user_slug=current_user.slug as new_msg_url %}
                                    {% include 'chat/message/forminline.html' with send_action=new_msg_url %}
                                </td>
                            </tr>
                        </table>
                    </div>        
                {% else %}
                    {% if current_user %}
                        <p class="alert alert-secondary">
                            You Have No Chat with {{ current_user }}
                        </p>
                        <div class="d-flex justify-content-md-end">
                            <a href="{% url 'chat:add_message' to_user_slug=current_user.slug %}?next={{ request.path }}" class="btn btn-outline-primary">Send {{ current_user }} Message</a>
                        </p>

                    {% else %}
                        <div class="d-flex flex-column justify-content-center align-items-center mt-3 mt-md-5">
                            <span class="fa fa-comments fa-5x text-secondary"></span>
                            <span class="text-secondary">Select User to View or Chat</span>
                        </div>
                    {% endif %}
                {% endif %}
                                    
            </main>
        </div>
    </div>
{% endblock content %}
    
