{% extends 'base.html' %}
{%  load static %}
{% block content %}
    <div class="container">
        {% if request.user.is_staff %}
            <div class="row">
                <div class="col-12">
                    <p class="text-center mt-4 lead">Programme <b>{{ coursemodel.programme }}</b> </p>
                    <p class="text-center mt-4 lead">Course  <b>{{ coursemodel }} </b></p>
                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <h5 class="lead mr-4">Assessment</h5>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-title text-center">Course Details</h5>
                        </div>
                        <div class="card-body table-borderless">
                            <table class="table table-striped">
                                <tr>
                                    <td>Title</td>
                                    <th>{{ coursemodel.name }}</th>
                                </tr>
                               <tr>
                                    <td>Code</td>
                                    <th>{{ coursemodel.code }}</th>
                                </tr>
                                <tr>
                                    <td>Level</td>
                                    <th>{{ coursemodel.level }}</th>
                                </tr>
                                <tr>
                                    <td>Master</td>
                                    <th>{{ coursemodel.lecture }}</th>
                                </tr>
                                <tr>
                                    <td>Programme</td>
                                    <th>{{ coursemodel.programme }}</th>
                                </tr>
                            </table>
                        </div>
                        {% if request.user.is_admin %}
                            <div class="card-footer btn-group">
                                <a href="{% url 'department:programme:course:delete' courseName=coursemodel.name pk=coursemodel.pk course_programme_pk=coursemodel.programme.pk %}" class="btn btn-outline-danger card-footer-item" onclick="spinOnClick(this)">Delete</a>
                                <a href="{{ coursemodel.get_update_url }}" class="btn btn-outline-secondary card-footer-item" onclick="spinOnClick(this)">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-title text-center">Assessment</h5>
                        </div>
                        <div class="card-body">
                            <table class="table">
                            <tr>
                                <th>Quizzes</th>
                                <th>Overall Marks</th>
                                <th>Due Date</th>
                                <th>Status</th>
                            </tr>
                                {% for quiz in coursemodel.questiongroup_set.all %}
                                    <tr>
                                        <td>{{ quiz.get_title_display }}</td>
                                        <td>{{ quiz.total_marks }}</td>
                                        <td>{{ quiz.preference.due_date|default:"---" }}</td>
                                        <td>{{ quiz.get_status_display }}</td>
                                    </tr>
                                {% endfor %}

                            </table>
                        </div>
                    </div>
                </div>
            </div>
    {% elif request.user.is_lecture %}
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center mt-4">{{ coursemodel }} </h4>
                    <hr>
                </div>

                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <h5 class="lead mr-4">Assessment</h5>
                        </div>
                        <div class="col-md-8 ">
                            <div class="btn-group btn-block">
                                <a href="{% url 'assessment:create_group' courseName=coursemodel.name coursePK=coursemodel.pk %}" class="btn btn-outline-primary" onclick="appendSpinOnClick(this)">Prepare Question</a>
                                <a href="" class="btn btn-outline-primary" onclick="appendSpinOnClick(this)">View Assigment</a>
                                <a href="" class="btn btn-outline-primary" onclick="appendSpinOnClick(this)">View Records</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        <div class="row">
            {% for question_group in coursemodel.questiongroup_set.all %}
                <div class="col-md-6 col-lg-4">
                    <div class="card my-3" title={% if question_group.status == "conduct" %}"Students are allowed and access"{% else %}"Only you can access"{% endif %}>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ question_group.get_title_display }}</h5>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                               <tr>
                                   <td class="text-nowrap">Total Marks</td>
                                   <th>{{ question_group.total_marks }}</th>
                               </tr>
                               <tr>
                                   <td class="text-nowrap">Question Type</td>
                                   <th>{{ question_group.get_questions_type_display }}</th>
                               </tr>
                               <tr>
                                   <td class="text-nowrap">Number of Question</td>
                                   <th>{{ question_group.question_set.count }}</th>
                               </tr>
                               <tr>
                                   <td>Status</td>
                                   <th>{{ question_group.get_status_display }}</th>
                               </tr>
                           </table>
                            </div>
                            <div class="d-flex justify-content-between align-items-baseline">
                               <a href="{{ question_group.get_absolute_url }}" class="btn btn-outline-secondary" onclick="spinOnClick(this)">View</a>
                               <small class="text-muted" title="Last Updated">{{ question_group.updated }}</small>
                           </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% else %}
        <div class="row">
        {% include "snippet/ooops.html" %}
        </div>
    {% endif %}
    </div>
{% endblock %}