{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-12 my-3">
                <p class="lead text-center">Update <b>{{ coursemodel }}</b></p>
                <hr>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 mx-auto">
                <div class="card alert-primary shadow-sm">
                    <div class="card-body">
                         <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'department:programme:course:detail' courseName=coursemodel.name pk=coursemodel.pk %}" class="btn btn-outline-primary mx-2 flex-grow-1">Cancel</a>
                        <button type="submit" class="btn btn-primary mx-2 flex-grow-1">Save</button>
                    </div>
                </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}