{% extends 'base.html' %}
{% block content %}
    <div class="container">
    {% if course_deleted_name %}
        <div class="alert alert-success text-center mt-3">
            <button class="close" data-dismiss="alert" style="color: crimson"><i class="fa fa-times"></i></button>
            <p style="color: #174500">{{ course_deleted_name }} and it's assessment records is completely <span style="color: darkred">deleted</span> from this system.
            {{ programme }} no more has {{ course_deleted_name }} as a registered course. <br>Its was deleted by {{ request.user }}
               <span class="text-muted">In other to restore it, re-register it again.</span>
            </p>
        </div>
    {% endif %}

        <div class="row">
            <div class="col-12 mx-auto mt-3">
                <h1 class="text-center">{{ programme }} Programme</h1>
            </div>
        </div>


    {% if request.user.is_staff %}
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ programme.department.get_absolute_url }}" class="btn btn-link" onclick="appendSpinOnClick(this)"><i class="fa fa-chevron-left mr-2"></i>back</a>
                    <div class="btn-group ">
                        <a href="{% url 'department:programme:course:add'  %}" class="btn btn-outline-primary" onclick="appendSpinOnClick(this)">Add Course</a>
                        <a href="{% url 'student:register'  %}" class="btn btn-outline-primary" onclick="appendSpinOnClick(this)"> Add Student</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if courses %}
        <div class="row">
            <div class="col-12">
                <h5 class="text-center">Programme Courses <span class="badge badge-light">({{ programme.coursemodel_set.count }})</span></h5>
                <hr>
            </div>
        </div>


        {% regroup courses by level as courses_lists %}
        {% for courses_lst in courses_lists %}
            <div class="row my-4">
                <div class="col-12">
{#                <h5>{%  if courses_lst.grouper == "s1" %} First Semester {% elif courses_lst.grouper == "s2" %} Second Semester {% else %} {{ courses_lst.grouper }} {% endif %} </h5>#}
                 {% if forloop.first %}
                 {% else %}
                    <hr>
                {% endif %}
                <h5> {{ courses_lst.grouper }} </h5>
            </div>
                {% for course in courses_lst.list %}
                    <div class="col-md-5 col-lg-4">
                        <div class="card hover-inset my-2 h-100 ">
                            <div class="card-body">
                                <a href="{{ course.get_absolute_url }}" class="card-link">
                                    <p class="card-title text-center">{{ course }}</p></a>
                                    <table class="table table-borderless">
                                        <tr>
                                            <td>Course Master</td>
                                            <td>{{ course.lecture }}</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Quizzes</td>
                                            <td><span class="mr-2"><b>---</b></span></td>
                                        </tr>
                                        <tr>
                                            <td>Midsem</td>
                                            <td><span class="mr-2"><b>---</b></span></td>
                                        </tr>
                                    </table>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ course.get_absolute_url }}" class="btn btn-sm btn-outline-secondary" onclick="spinOnClick(this)">View</a>
                                        {% if request.user.is_admin %}
                                            <a href="{{ course.get_update_url }}" class="btn btn-sm btn-outline-secondary" onclick="spinOnClick(this)">Edit</a>
                                        {% endif %}
                                    </div>
                                    <small class="text-muted">{{ course.get_semester_display }}</small>
                                    <small class="text-muted">{{ course.level }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}


    {% else %}
        <div class="row">
            <div class="col-auto mx-auto" style="margin-top: 20vh">
                {%  if request.user.is_lecture %}
                    <p class="lead text-center">{{ request.user.first_name }}, your courses are not registered yet</p>
                {% elif request.user.is_staff %}
                    <p class="lead text-center">{{ programme }} has no course registered</p>
                {% endif %}
                <hr>
                <p class="text-center">Date registered: {{ programme.timestamp }}</p>
            </div>
        </div>
    {% endif %}


    {% if programme.student_set.exists %}
            <div class="row">
                <div class="col-12">
                    <h5 class="text-center" style="margin-top: 5vh;">Programme Students</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
        <div class="table-responsive">
            {% regroup programme.all_students by level as prog_students %}
            {% for prog_student in prog_students %}
                <table class="table table-bordered">
                    <tr>
                        <th colspan="5">{{ prog_student.grouper }}</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Index Number</th>
                        <th>level</th>
                        <th>Number of Assignment taken</th>
                    </tr>
                    {% for student in prog_student.list %}
                        <tr class="hover-inset">
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{{ student.get_absolute_url }}">{{ student.profile.get_full_name }}</a></td>
                            <td>{{ student.index_number }}</td>
                            <td>{{ student.level }}</td>
                            <td>{{ student.quiz_counts }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="col-md-6 mx-auto" style="margin-top: 20vh">
                <hr>
                <p class="text-center">No student</p>
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}