{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-md-10 col-lg-12 mx-auto">
                <h4 class="text-center">{{ header }}</h4>
                <p class="text-center">{{ title }}</p>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex flex-column flex-md-row">
                                <a href="{{ back_url }}" class="btn btn-outline-secondary flex-grow-1 mr-md-1 mb-2 mb-md-0" onclick="appendSpinOnClick(this)"><span class="fa fa fa-chevron-left mr-2"></span>Discard</a>
                                <button type="submit" onclick="spinOnClick(this)" class="btn btn-primary flex-grow-1 ml-md-1"><span class="fa fa-save mr-2"></span> Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}