{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="d-flex flex-column align-items-center">
                    <p class="lead" id="id_now"></p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-secondary">Duration</li>
                        <li class="list-group-item list-group-item-secondary"><b>{{ duration }}</b></li>
                        <li class="list-group-item list-group-item-primary">Used Time</li>
                        <li class="list-group-item list-group-item-primary" id="id_used_time"><b>{{ used_time_str }}</b></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <hr>
                <button class="btn btn-link" onclick="on_back(this)"><i class="fa fa-chevron-left mr-2"></i> back</button>
                <hr>
            </div>
        </div>

        <div class="row mt-3 mt-lg-4">
            <div class="col-md-12 mx-auto">
                <h5>Question</h5>
                <p>{{ question_instance.question|linebreaksbr }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mx-auto">
                <form method="post">
                    {% csrf_token %}
                    {{ answer_form|crispy }}
                    <div class="btn-group btn-block">
                        <button type="submit" class="btn btn-outline-secondary" onclick="spinOnClick(this)" name="button" value="submit">Save and submit script</button>
                        <button type="submit" class="btn btn-outline-primary" onclick="spinOnClick(this)" name="button" value="save" title="Save answer more / review some answers">Save</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="row my-3 mt-lg-4">
            <div class="col-auto">
                <p class="alert alert-info">
                    <i class="fa fa-info-circle mr-2"></i>
                    Once you click on save. Your answer will be saved to your script.
                    <br>
                    {% if duration %}
                        Your script will be automatically submitted.
                    {% else %}
                        To Submit your script click on save and click on submit in the next page
                    {% endif %}
                </p>
            </div>
        </div>


    </div>
{% endblock %}
{% block afterScripts %}
    <script src="{% static 'utils/moment.min.js' %}"></script>
    <script>
        var usedTime_moment = moment(`${moment().year()}-${moment().month()}-${moment().day()} {{ used_time.hour }}:{{ used_time.minute }}:{{ used_time.second }}`);
        setInterval(function (){
            usedTime_moment.add(1 ,"seconds")
            document.getElementById("id_used_time").innerHTML = `<b>${usedTime_moment.hours()}:${usedTime_moment.minutes()}:${usedTime_moment.second()} </b>`
            document.getElementById("id_now").innerHTML = moment().format("LLLL")
        }, 1000);


        function on_back(thTag) {
            data = thTag.innerHTML
            appendSpinOnClick(thTag)
            var student_pre_ans = document.getElementById("id_answer")
            console.log(student_pre_ans.value)
            {% with question_group=question_instance.group  %}
                var back_to = `{% url 'assessment:theory_exam_start' question_group_title=question_group.title question_group_id=question_group.id semester=question_group.course.semester %}`
            {% endwith %}
            if( student_pre_ans.value){
                var confirm = window.confirm("Any changes you have done will lost. Click on ok if it the save")
                if ( confirm){
                    window.location = back_to
                }
                console.log(confirm);
                thTag.innerHTML = data
            }
            else{
                window.location = back_to
            }
        }
    </script>
{% endblock %}