{% extends 'base.html' %}
{% load questions_group_extra %}
{% load static %}
{% block content %}
    {% if answer_saved %}
    <div class="jumbotron alert alert-success" id="id_alert_saved">
        <div class="container">
            <div class="row">
                <div class="col-md- mx-auto">
                    <p>The Question answer is saved Successfully. You can preview to see all your answers</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">
        <div class="row d-none d-md-block">
            <div class="col-md-8 col-lg-6 mx-auto">
                <table class="table table-bordered">
                {% with programme=request.user.student.programme %}
                <tr>
                    <td>Course</td>
                    <td>{{ question_group_instance.course.name }}</td>
                </tr>
                <tr>
                    <td>Course code</td>
                    <td>{{ question_group_instance.course.code }}</td>
                </tr>
                <tr>
                    <td>Assessment</td>
                    <td>
                        {{ question_group_instance.get_title_display }}
                    </td>
                </tr>
                <tr>
                    <td>Instruction</td>
                    <td>{{ question_group_instance.preference.instruction|title }}</td>
                </tr>
                    <tr>
                        <td>Total Mark</td>
                        <td>{{ question_group_instance.total_marks }}</td>
                    </tr>
                {% endwith %}
            </table>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
                {% with preference=question_group_instance.preference %}
                <div class="card-group">
                    {% include 'snippet/H_label_value_card.html' with label="Total Questions" value=4 new_line=1 tc=1 %}

                        {% include 'snippet/H_label_value_card.html' with label="Due Date" value=preference.due_date|default:"Any time" new_line=1 tc=1 extra_cls="d-none d-md-block" %}
                        {% include 'snippet/H_label_value_card.html' with label="Duration" value=preference.duration|default:"Any time" new_line=1 tc=1 extra_cls="d-none d-md-block" %}

                    {% include 'snippet/H_label_value_card.html' with label="Used Time" value=used_time_str new_line=1 value_id="id_used_time" tc=1 %}
                </div>
                {% endwith %}
                <hr>
            </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
        
            {% if runsomething %}
        <div class="row my-3 my-lg-4">
            <div class="table-responsive">
                <table class="table">

                    {% for question_instance in question_group_instance.question_set.all %}
                        {% url 'assessment:theory_exam_answer' question_group_id=question_group_instance.id question_group_title=question_group_instance.title script_pk=script_pk question_pk=question_instance.pk as solve_link %}

                        <tr class="hover-inset">
                            <th>{{ forloop.counter }}</th>
                            <td><a href="{{ solve_link }}" class="text-decoration-none text-dark">{{ question_instance.question|linebreaksbr }}</a></td>
                            <td class="text-center text-nowrap">{{ question_instance.max_mark|floatformat }} Marks</td>
                            <td><a href="{{ solve_link }}?back={{ request.path }}" class="btn btn-outline-primary btn-block btn-lg" onclick="spinOnClick(this)" title="Write your solution / view your solution">Solve </a></td>
                        </tr>

                    {% endfor %}

                </table>
            </div>
        </div>
        {% else  %}
        <div class="row my-3 my-lg-5">
            <div class="col d-flex flex-column">
                
                {% for question_instance in question_group_instance.question_set.all %}
                {% url 'assessment:theory_exam_answer' question_group_id=question_group_instance.id question_group_title=question_group_instance.title script_pk=script_pk question_pk=question_instance.pk as solve_link %}
                <div class="card card-hover-shadow my-2">
                    <div class="card-body">
                        <p class="justify-content-between">
                            <strong>Question {{ question_instance.question_number }} </strong>
                            <span class="float-right">{{ question_instance.max_mark|floatformat:2 }} marks</span>
                        </p>
                        <p>
                            <a href="{{ solve_link }}?back={{ request.path }}" class="text-decoration-none text-dark">{{ question_instance.question|linebreaksbr }}</a>
                        </p>
                        <div class="float-right">
                            
                            {% if question_instance.pk|is_answered:script_pk %}
                            <a href="{{ solve_link }}?back={{ request.path }}" class="btn btn-success " onclick="spinOnClick(this)" title="Write your solution / view your solution"><span class="fa fa-edit mr-1"></span> Edit</a>
                            {% else %}
                                <a href="{{ solve_link }}?back={{ request.path }}" class="btn btn-outline-primary " onclick="spinOnClick(this)" title="Write your solution / view your solution"><span class="fa fa-edit mr-1"></span> Solve</a>
                            {% endif %}
                                                           
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif  %}

        <div class="row my-3">
        <div class="col-md-12">
            <div class="d-flex justify-content-between flex-column flex-md-row">
                <button class="btn btn-info mx-2 flex-grow-1 my-1 my-md-0" title="preview" type="submit" name="button" value="preview" onclick="spinOnClick(this)">Preview your script</button>
                <button class="btn btn-primary mx-2 flex-grow-1 my-1 my-md-0" title="Submit" value="submit" name="button" type="submit" onclick="spinOnClick(this)">Submit your script</button>
            </div>
        </div>
    </div>

        </form>

    </div>
{% endblock %}

{% block afterScripts %}
    <script src="{% static 'utils/moment.min.js' %}"></script>
    <script>
        let usedTime_tag = document.getElementById("id_used_time");
        {% if used_time %}
            let usedTime_moment = moment(`${moment().year()}-${moment().month()}-${moment().day()} {{ used_time.hour }}:{{ used_time.minute }}:{{ used_time.second }}`);
            setInterval(function () {
                MomemtUsed = usedTime_moment.add(1, "second");
                usedTime_tag.innerHTML = `{{ used_time.day }} days,${usedTime_moment.hours()}:${usedTime_moment.minutes()}:${usedTime_moment.second()} `
            }, 1000);

            let alrt_saved = $("#id_alert_saved");
            setTimeout(function () {
                alrt_saved.hide("fade")
            }, 10000);

        {% else %}
            usedTime_tag.innerHTML = "-- -- --";
        {% endif %}
    </script>
{% endblock %}