{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="d-flex flex-column align-items-center">
                    <p class="lead" id="id_now"></p>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item list-group-item-secondary">Duration</li>
                        <li class="list-group-item list-group-item-secondary"><b>{{ duration|default_if_none:"Any Time" }}</b></li>
                        <li class="list-group-item list-group-item-primary">Used Time</li>
                        
                        <li class="list-group-item list-group-item-primary" id="id_used_time"><b>{{ used_time_str }}</b></li>

                            
                        
                    </ul>
                </div>
            </div>
        </div>

    {% if back_url %}

        <div class="row">
            <div class="col-12">
                <hr>
                <a class="btn btn-link" href="{{ back_url }}" onclick="onBackSpin(this)"><i class="fa fa-chevron-left mr-2"></i> back</a>
                <hr>
            </div>
        </div>
    {% endif %}
        <div class="row mt-3 mt-lg-4 mb-2 hover-inset rounded no-user-select">
            <div class="col-md-12 mx-auto  p-2">
                <h5>Question {{ question_instance.question_number }}</h5>
                <p>{{ question_instance.question|linebreaksbr }}</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 mx-auto p-2 shadow-sm border-0">
                <form method="post">
                    {% csrf_token %}
                    {{ answer_form|crispy }}
                    <div class="btn-group btn-block">
                        <button type="submit" class="btn btn-outline-secondary" onclick="spinOnClick(this)" name="button" value="submit">Save and submit script</button>
                        <button type="submit" class="btn btn-primary" onclick="spinOnClick(this)" name="button" value="save" title="Save answer more / review some answers">Save</button>
                    </div>
                </form>
            </div>
        </div>


        <div class="row my-3 mt-lg-4">
            <div class="col-auto">
                <p class="alert alert-info">
                    <i class="fa fa-info-circle mr-2"></i>
                    Once you click on save. Your answer will be saved to your script.
                    <br>
                    {% if is_duration %}
                        Your script will be automatically submitted on the due time {{ duration }}.
                    {% else %}
                        To Submit your script click on save and click on submit in the next page
                    {% endif %}
                </p>
            </div>
        </div>


    </div>
{% endblock %}
{% block afterScripts %}
    <script src="{% static 'utils/moment.min.js' %}"></script>
    <script>
        {% if used_time %}
            var usedTime_moment = moment(`${moment().year()}-${moment().month()}-${moment().day()} {{ used_time.hour }}:{{ used_time.minute }}:{{ used_time.second }}`);
            setInterval(function (){
                usedTime_moment.add(1 ,"seconds");
                document.getElementById("id_used_time").innerHTML = `{{ used_time.day }} days, ${usedTime_moment.hours()}:${usedTime_moment.minutes()}:${usedTime_moment.second()} `;
                document.getElementById("id_now").innerHTML = moment().format("LLLL")
            }, 1000);
        {% endif %}



    </script>
{% endblock %}