{% extends 'base.html' %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-auto">
                {% with question_group=script.question_group %}
                    {% if script_status %}
                        <a href="?back=1" onclick="onBackSpin(this)" class="btn btn-link"><i class="fa fa-chevron-left mr-2"></i>back</a>
                    {% else %}
                        <a href="{% url 'assessment:theory_exam_start' question_group_id=question_group.id question_group_title=question_group.title semester=question_group.course.semester %}" onclick="onBackSpin(this)" class="btn btn-link"><i class="fa fa-chevron-left mr-2"></i>back</a>
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-8 col-lg-6 mx-auto">
{#            {% if print_preview %}#}
                <div class="text-center my-3">
                    <h3>{{ script.student.programme.department|upper }} DEPARTMENT</h3>
                    <h3>{{ script.student.programme|upper }}</h3>
{#                    <h3>{{ script.question_group.course|upper }}</h3>#}
{#                    <h3>{{ script.question_group.get_title_display|upper }}</h3>#}
                </div>

{#            {% else %}#}
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        {% with course=script.question_group.course %}
                        <tr>
                            <td>INDEX NUMBER</td>
                            <td>{{ script.student.index_number }}</td>
                        </tr>
                        <tr>
                            <td>STUDENT NAME</td>
                            <td>{{ script.student.get_name|upper }}</td>
                        </tr>
                        <tr>
                            <td>STUDENT LEVEL</td>
                            <td>{{ script.student.level|upper }}</td>
                        </tr>
                        <tr>
                            <td>COURSE</td>
                            <td>{{ course.name|upper }}</td>
                        </tr>
                         <tr>
                            <td>COURSE CODE</td>
                            <td>{{ course.code }}</td>
                        </tr>
                        <tr>
                            <td>ASSESSMENT</td>
                            <td>{{ script.question_group.get_title_display|upper }}</td>
                        </tr>
                        <tr>
                            <td>SEMESTER</td>
                            <td>{{ course.get_semester_display|upper }}</td>
                        </tr>
                        <tr>
                            <td>DATE</td>
                            <td>{% now 'jS F\, Y' as date %} {{ date|upper }}</td>
                        </tr>
                        {% endwith %}
                    </table>
                </div>
{#            {% endif %}#}
            </div>
        </div>

        <div class="row mt-md-4 mt-lg-5">
            <div class="col-md-8 col-lg-6 mx-auto">
                <h4 class="text-center">The Preview of Your Answer Script </h4>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">

                    {% for answers in script.studenttheoryanswer_set.all %}
                        <tr>
                            <td>
                                <b>Question</b>
                                <p>{{ answers.question|linebreaksbr }}</p>
                                <b>Answer</b>
                                <p class="jumbotron">
                                    {{ answers.answer|linebreaksbr }}
                                </p>
                        <p></p>
                        </tr>
                    {% endfor %}

                </table>
                <p class="text-muted">You have answered {{ script.studenttheoryanswer_set.count }} questions</p>
            </div>
        </div>
    </div>
{% endblock %}